# Project: An investigation into a TMDB dataset

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

For this project I have chosen to look at the TMDB dataset. This data was provided as part of the Udacity Data Analysis Nanodegree and originated from [Kaggle](https://www.kaggle.com/tmdb/tmdb-movie-metadata). It was originally sourced from IMDB but was replaced after takedown request.

_Questions_:

1. Which genres are most popular from year to year?
1. What kinds of properties are associated with movies that have high revenues?

In [1]:
import pandas as pd
import numpy as np
% matplotlib inline

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('darkgrid')
# Stop floats from displaying as scientific notation
pd.options.display.float_format = '{:20,.2f}'.format

<a id='wrangling'></a>
## Data Wrangling

### General Properties

In [2]:
# Load your data and print out a few lines. Perform operations to inspect data
# types and look for instances of missing or possibly errant data.
df = pd.read_csv('tmdb-movies.csv')

#### High level view of the dataset
----
In this section I'll take an initial view of the data - this will also include the number of rows, the datatypes and the number of non-null values in those columns. I'll also take a look at the number of unique values for those columns.

In [3]:
df.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.99,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.50,2015,"137,999,939.28","1,392,445,892.52"
1,76341,tt1392190,28.42,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.10,2015,"137,999,939.28","348,161,292.49"
2,262500,tt2908446,13.11,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.30,2015,"101,199,955.47","271,619,025.41"
3,140607,tt2488496,11.17,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.50,2015,"183,999,919.04","1,902,723,129.80"
4,168259,tt2820852,9.34,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.30,2015,"174,799,923.09","1,385,748,801.47"

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
id                      10866 non-null int64
imdb_id                 10856 non-null object
popularity              10866 non-null float64
budget                  10866 non-null int64
revenue                 10866 non-null int64
original_title          10866 non-null object
cast                    10790 non-null object
homepage                2936 non-null object
director                10822 non-null object
tagline                 8042 non-null object
keywords                9373 non-null object
overview                10862 non-null object
runtime                 10866 non-null int64
genres                  10843 non-null object
production_companies    9836 non-null object
release_date            10866 non-null object
vote_count              10866 non-null int64
vote_average            10866 non-null float64
release_year            10866 non-null int64
budget_adj              10866 non-null float64
revenue_adj             10866 non-null float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

The next cell was used to sort by different columns names (just replace the column name to get a look at the NaN data or see if there was any 0s).

In [5]:
df.sort_values(by=['vote_count'], ascending=False)

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
1919,27205,tt1375666,9.36,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,http://inceptionmovie.warnerbros.com/,Christopher Nolan,Your mind is the scene of the crime.,...,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/10,9767,7.90,2010,"160,000,000.00","825,500,000.00"
4361,24428,tt0848228,7.64,220000000,1519557910,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,http://marvel.com/avengers_movie/,Joss Whedon,Some assembly required.,...,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/12,8903,7.30,2012,"208,943,741.90","1,443,191,435.21"
1386,19995,tt0499549,9.43,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,http://www.avatarmovie.com/,James Cameron,Enter the World of Pandora.,...,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/09,8458,7.10,2009,"240,886,902.89","2,827,123,750.41"
2875,155,tt0468569,8.47,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,http://thedarkknight.warnerbros.com/dvdsite/,Christopher Nolan,Why So Serious?,...,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/08,8432,8.10,2008,"187,365,527.25","1,014,733,032.48"
4364,68718,tt1853728,5.94,100000000,425368238,Django Unchained,Jamie Foxx|Christoph Waltz|Leonardo DiCaprio|K...,http://unchainedmovie.com/,Quentin Tarantino,"Life, liberty and the pursuit of vengeance.",...,"With the help of a German bounty hunter, a fre...",165,Drama|Western,Columbia Pictures|The Weinstein Company,12/25/12,7375,7.70,2012,"94,974,428.14","403,991,051.51"
4382,70160,tt1392170,2.57,75000000,691210692,The Hunger Games,Jennifer Lawrence|Josh Hutcherson|Liam Hemswor...,http://www.thehungergames.movie/,Gary Ross,May The Odds Be Ever In Your Favor.,...,Every year in the ruins of what was once North...,142,Science Fiction|Adventure|Fantasy,Lionsgate|Color Force,3/12/12,7080,6.70,2012,"71,230,821.10","656,473,401.94"
5425,68721,tt1300854,4.95,200000000,1215439994,Iron Man 3,Robert Downey Jr.|Gwyneth Paltrow|Guy Pearce|D...,http://marvel.com/ironman3,Shane Black,Unleash the power behind the armor.,...,When Tony Stark's world is torn apart by a for...,130,Action|Adventure|Science Fiction,Marvel Studios,4/18/13,6882,6.90,2013,"187,206,670.55","1,137,692,372.64"
4363,49026,tt1345836,6.59,250000000,1081041287,The Dark Knight Rises,Christian Bale|Michael Caine|Gary Oldman|Anne ...,http://www.thedarkknightrises.com/,Christopher Nolan,The Legend Ends,...,Following the death of District Attorney Harve...,165,Action|Crime|Drama|Thriller,Legendary Pictures|Warner Bros.|DC Entertainme...,7/16/12,6723,7.50,2012,"237,436,070.34","1,026,712,780.23"
629,157336,tt0816692,24.95,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,http://www.interstellarmovie.net/,Christopher Nolan,Mankind was born on Earth. It was never meant ...,...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/14,6498,8.00,2014,"151,980,023.38","572,690,645.12"
4367,49051,tt0903624,4.22,250000000,1017003568,The Hobbit: An Unexpected Journey,Ian McKellen|Martin Freeman|Richard Armitage|A...,http://www.thehobbit.com/,Peter Jackson,From the smallest beginnings come the greatest...,...,"Bilbo Baggins, a hobbit enjoying his quiet lif...",169,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|Metro-Goldwyn-Ma...,11/26/12,6417,6.90,2012,"237,436,070.34","965,893,322.82"
2410,603,tt0133093,7.75,63000000,463517383,The Matrix,Keanu Reeves|Laurence Fishburne|Carrie-Anne Mo...,http://www.warnerbros.com/matrix,Lilly Wachowski|Lana Wachowski,Welcome to the Real World.,...,"Set in the 22nd century, The Matrix tells the ...",136,Action|Science Fiction,Village Roadshow Pictures|Groucho II Film Part...,3/30/99,6351,7.80,1999,"82,470,329.34","606,768,749.66"
2877,1726,tt0371746,4.98,140000000,585174222,Iron Man,Robert Downey Jr.|Terrence Howard|Jeff Bridges...,http://www.ironmanmovie.com/,Jon Favreau,Heroes aren't born. They're built.,...,"After being held captive in an Afghan cave, bi...",126,Action|Science Fiction|Adventure,Marvel Studios,4/30/08,6220,7.30,2008,"141,790,128.73","592,656,630.49"
1,76341,tt1392190,28.42,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.10,2015,"137,999,939.28","348,161,292.49"
4365,37724,tt1074638,5.60,200000000,1108561013,Skyfall,Daniel Craig|Judi Dench|Javier Bardem|Ralph Fi...,http://www.skyfall-movie.com,Sam Mendes,Think on your sins.,...,When Bond's latest assignment goes gravely wro...,143,Action|Adventure|Thriller,Columbia Pictures,10/25/12,6137,6.80,2012,"189,948,856.27","1,052,849,482.63"
2633,120,tt0120737,8.58,93000000,871368364,The Lord of the Rings: The Fellowship of the Ring,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,http://www.lordoftherings.net/,Peter Jackson,One ring to rule them all,...,"Young hobbit Frodo Baggins, after inheriting a...",178,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,12/18/01,6079,7.80,2001,"114,528,394.85","1,073,079,785.53"
2409,550,tt0137523,8.95,63000000,100853753,Fight Club,Edward Norton|Brad Pitt|Meat Loaf|Jared Leto|H...,http://www.foxmovies.com/movies/fight-club,David Fincher,How much can you know about yourself if you've...,...,A ticking-time-bomb insomniac and a slippery s...,139,Drama,Regency Enterprises|Fox 2000 Pictures|Taurus F...,10/14/99,5923,8.10,1999,"82,470,329.34","132,022,892.45"
4178,278,tt0111161,7.19,25000000,28341469,The Shawshank Redemption,Tim Robbins|Morgan Freeman|Bob Gunton|William ...,NaN,Frank Darabont,Fear can hold you prisoner. Hope can set you f...,...,Framed in the 1940s for the double murder of h...,142,Drama|Crime,Castle Rock Entertainment,9/10/94,5754,8.40,1994,"36,777,789.04","41,693,462.72"
4949,122,tt0167260,7.12,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,http://www.lordoftherings.net,Peter Jackson,The eye of the enemy is moving.,...,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/03,5636,7.90,2003,"111,423,148.61","1,326,278,010.48"
630,118340,tt2015381,14.31,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,http://marvel.com/guardians,James Gunn,All heroes start somewhere.,...,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/14,5612,7.90,2014,"156,585,478.63","712,291,130.17"
0,135397,tt0369610,32.99,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.50,2015,"137,999,939.28","1,392,445,892.52"
4177,680,tt0110912,8.09,8000000,213928762,Pulp Fiction,John Travolta|Samuel L. Jackson|Uma Thurman|Br...,NaN,Quentin Tarantino,Just because you are a character doesn't mean ...,...,"A burger-loving hit man, his philosophical par...",154,Thriller|Crime,Miramax Films|A Band Apart|Jersey Films,10/14/94,5343,8.10,1994,"11,768,892.49","314,713,075.14"
3,140607,tt2488496,11.17,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.50,2015,"183,999,919.04","1,902,723,129.80"
3911,121,tt0167261,8.10,79000000,926287400,The Lord of the Rings: The Two Towers,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,http://www.lordoftherings.net/,Peter Jackson,A New Power Is Rising.,...,Frodo and Sam are trekking to Mordor to destro...,179,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,12/18/02,5114,7.80,2002,"95,768,650.10","1,122,902,454.42"
3372,1771,tt0458339,7.96,140000000,370569774,Captain America: The First Avenger,Chris Evans|Hugo Weaving|Tommy Lee Jones|Hayle...,http://captainamerica.marvel.com/,Joe Johnston,When patriots become heroes,...,"Predominantly set during World War II, Steve R...",124,Action|Adventure|Science Fiction,Marvel Studios,7/22/11,5025,6.50,2011,"135,715,725.96","359,229,613.56"
1920,10138,tt1228705,5.70,200000000,623933331,Iron Man 2,Robert Downey Jr.|Gwyneth Paltrow|Don Cheadle|...,http://www.ironmanmovie.com/,Jon Favreau,"It's not the armor that makes the hero, but th...",...,With the world now aware of his dual life as t...,124,Adventure|Action|Science Fiction,Marvel Studios,4/28/10,4920,6.60,2010,"200,000,000.00","623,933,331.00"
6191,272,tt0372784,5.40,150000000,374218673,Batman Begins,Christian Bale|Michael Caine|Liam Neeson|Katie...,http://www2.warnerbros.com/batmanbegins/index....,Christopher Nolan,Evil fears the knight.,...,"Driven by tragedy, billionaire Bruce Wayne ded...",140,Action|Crime|Drama,DC Comics|Legendary Pictures|Warner Bros.|DC E...,6/14/05,4914,7.30,2005,"167,484,493.45","417,838,832.58"
4179,13,tt0109830,6.72,55000000,677945399,Forrest Gump,Tom Hanks|Robin Wright|Gary Sinise|Mykelti Wil...,NaN,Robert Zemeckis,"The world will never be the same, once you've ...",...,A man with a low IQ has accomplished great thi...,142,Comedy|Drama|Romance,Paramount Pictures,7/6/94,4856,8.10,1994,"80,911,135.89","997,333,314.60"
1924,20352,tt1323594,3.79,69000000,543513985,Despicable Me,Steve Carell|Jason Segel|Russell Brand|Julie A...,http://www.despicable.me/,Pierre Coffin|Chris Renaud,Superbad. Superdad.,...,In a happy suburban neighbourhood surrounded b...,95,Action|Animation|Family,Universal Pictures|Illumination Entertainment,7/8/10,4851,7.10,2010,"69,000,000.00","543,513,985.00"
4370,1930,tt0948470,3.70,215000000,752215857,The Amazing Spider-Man,Andrew Garfield|Emma Stone|Rhys Ifans|Denis Le...,http://www.theamazingspiderman.com,Marc Webb,The untold story begins.,...,Peter Parker is an outcast high schooler was a...,136,Action|Adventure|Fantasy,Columbia Pictures|Laura Ziskin Productions|Mar...,6/27/12,4837,6.40,2012,"204,195,020.49","714,412,708.53"
5432,49521,tt0770828,3.97,225000000,662845518,Man of Steel,Henry Cavill|Amy Adams|Michael Shannon|Diane L...,http://www.manofsteel.com/,Zack Snyder,You will believe that a man can fly.,...,A young boy learns that he has extraordinary p...,143,Action|Adventure|Fantasy|Science Fiction,Legendary Pictures|Warner Bros.|DC Entertainme...,6/12/13,4729,6.50,2013,"210,607,504.37","620,445,512.56"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3357,32836,tt1254947,0.04,0,0,Bill Burr: Why Do I Do This?,Bill Burr,NaN,NaN,NaN,...,"One of America's fastest-rising comedians, Bil...",55,Comedy,NaN,9/23/08,10,8.00,2008,0.00,0.00
3353,14419,tt1174034,0.03,0,0,"Coluche, L'histoire d'un Mec",FranÃ§ois-Xavier Demaison|LÃ©a Drucker|Olivier...,NaN,Antoine de Caunes,NaN,...,No overview found.,103,Comedy|Drama,Mars Distribution,10/15/08,10,6.00,2008,0.00,0.00
8829,41282,tt0209322,0.25,0,0,Skipped Parts,Drew Barrymore|Jennifer Jason Leigh|Mischa Bar...,NaN,Tamra Davis,There's nothing like knowing what you've been ...,...,A woman (Jennifer Jason Leigh) and her son (Bu...,100,Comedy|Drama|Romance,Skipped Parts Productions,6/6/00,10,6.70,2000,0.00,0.00
7803,30680,tt0493439,0.07,0,0,On the Doll,Brittany Snow|Josh Janowicz|Clayne Crawford|Sh...,http://www.onthedoll.com/,Thomas Mignone,NaN,...,On The Doll is a story of the victims of child...,102,Crime|Drama|Thriller,NaN,10/12/07,10,7.40,2007,0.00,0.00
1093,230779,tt1621046,0.22,10000000,0,Cesar Chavez,Michael PeÃ±a|Rosario Dawson|America Ferrera|J...,https://www.facebook.com/CesarChavezMovie,Diego Luna,History is made one step at a time.,...,A biography of the civil-rights activist and l...,102,Drama,NaN,3/28/14,10,5.30,2014,"9,210,910.51",0.00
3335,14795,tt0972359,0.21,0,0,Baby Blues,Colleen Porch|Aiden Kersh|Ridge Canipe|Sean Jo...,http://www.babybluesmovie.com/,Lars Jacobson|Amardeep Kaleka,NaN,...,"On a secluded family farm, a mother suffers a ...",85,Drama|Horror|Thriller,Symposium Productions|Sweat Shop Films|Neveren...,8/5/08,10,4.90,2008,0.00,0.00
3334,41362,tt1052352,0.08,0,0,Princess,Nora Zehetner|Kip Pardue|Nicole Gale Anderson|...,NaN,Mark Rosman,A modern fairytale,...,A reclusive princess and a directionless young...,89,Fantasy|Family,Princessa Productions|Treehouse North Productions,4/20/08,10,5.00,2008,0.00,0.00
3330,16194,tt0996966,0.33,0,0,Not Quite Hollywood,Phillip Adams|Glory Annen|Briony Behets|Steve ...,NaN,Mark Hartley,"The wild, untold story of OZploitation!",...,As Australian cinema broke through to internat...,103,Comedy|Documentary,Magnolia Pictures,8/28/08,10,6.40,2008,0.00,0.00
7779,16126,tt0780583,0.11,0,0,Flight of the Living Dead: Outbreak on a Plane,David Chisum|Kristen Kerr|Richard Tyson|Kevin ...,NaN,Scott Thomas,"At 30,000 feet, there's no where to run.",...,"On a flight from Los Angeles to Paris, a mad s...",89,Horror|Action,Pacific Entertainment Group,4/6/07,10,5.20,2007,0.00,0.00
7773,73779,tt0934946,0.12,0,0,The Secret Life of Brian,Terry Gilliam|Graham Chapman|John Cleese|Eric ...,NaN,Will Yapp,NaN,...,A documentary about the making of the controve...,50,Documentary,NaN,1/1/07,10,7.20,2007,0.00,0.00
3772,73958,tt1854226,0.21,0,0,Wonders of the Universe,Brian Cox,http://www.bbc.co.uk/programmes/b00zdhtg,Chris Holt|Stephen Cooter|Michael Lachmann,NaN,...,Who are we? Why are we here? Where do we come ...,240,Documentary,BBC|Discovery Channel|Science Channel,3/6/11,10,6.60,2011,0.00,0.00
3596,81033,tt1874757,0.49,0,0,The Good Witch's Family,Catherine Bell|Chris Potter|Catherine Disher|N...,NaN,Craig Pryce,NaN,...,A young witch visits her cousin in a small tow...,85,Drama|Family|Fantasy,The Hallmark Channel|Whizbang Films Inc.,10/29/11,10,6.10,2011,0.00,0.00
6534,27176,tt0406158,0.17,0,0,"The Prize Winner of Defiance, Ohio",Julianne Moore|Woody Harrelson|Laura Dern|Trev...,NaN,Jane Anderson,NaN,...,"Based on the true story of Evelyn Ryan, a midw...",99,Drama,NaN,9/28/05,10,5.60,2005,0.00,0.00
7754,12791,tt0494224,0.15,0,0,End of the Line,Ilona Elkin|Nicolas Wright|Tim Rozon|Emily She...,http://www.endofthelinemovie.com/,Maurice Devereaux,NaN,...,"Karen, a young psychiatric nurse, boards the l...",95,Horror|Thriller,Maurice Devereaux Productions,10/14/07,10,4.20,2007,0.00,0.00
7755,42411,tt0770829,0.14,0,0,La ragazza del lago,Toni Servillo|Denis Fasolo|Nello Mascia|Valeri...,NaN,Andrea Molaioli,NaN,...,A cop investigates the murder of a beautiful t...,95,Mystery|Thriller,NaN,9/14/07,10,5.60,2007,0.00,0.00
7756,13317,tt0454065,0.14,0,0,La Antena,Valeria Bertuccelli|Alejandro Urdapilleta|Juli...,http://www.laantena.ladoblea.com/,Esteban Sapir,A city without a voice...,...,"La Antena (English: The Aerial, 2007) is an Ar...",99,Drama|Foreign|Science Fiction,LadobleA,4/17/07,10,7.30,2007,0.00,0.00
9575,40168,tt0096046,0.12,425000,0,Scarecrows,Ted Vernon|Michael David Simms|Richard Vidan|K...,NaN,William Wesley,Trespassers will be violated,...,Five men heist the Camp Pendleton payroll and ...,83,Horror,Effigy Films,9/28/88,10,6.00,1988,"783,653.68",0.00
1161,280922,tt3042626,0.17,0,0,Asthma,Benedict Samuel|Krysten Ritter|Nick Nolte|Rosa...,NaN,Jake Hoffman,NaN,...,A young musician takes a beautiful tattoo arti...,90,Romance|Drama,"Thank You, Brain! Productions|Out Of The Woods...",7/8/14,10,6.50,2014,0.00,0.00
1154,341747,tt4679082,0.18,0,0,9 Kisses,Reese Witherspoon|Benedict Cumberbatch|Steve C...,NaN,Elaine Constantine,NaN,...,2014's best actors pair up in a series of inti...,9,Romance,NaN,12/11/14,10,6.80,2014,0.00,0.00
3724,60302,tt1198075,0.28,1000000,0,"Cougars, Inc.",Denise Richards|Sarah Hyland|Jim Belushi|Kyle ...,https://www.facebook.com/pages/Cougars-Inc/172...,K. Asher Levin,It's 10 p.m. Do you know where your mother is?,...,When Sam learns his mother cannot afford to se...,81,Comedy|Drama,Lookout Films|StoneBrook Entertainment,5/10/11,10,5.50,2011,"969,398.04",0.00
7760,24786,tt0785012,0.14,0,0,In Tranzit,Daniel BrÃ¼hl|Patrick Kennedy|Vera Farmiga|Joh...,NaN,Tom Roberts,NaN,...,Nazi POWs suspected of heinous acts are locked...,113,Drama|Romance|War|Foreign,Thema Production|Peace Arch Films,5/16/07,10,5.40,2007,0.00,0.00
6533,16452,tt0451021,0.08,0,0,The Comedians of Comedy,Patton Oswalt|Brian Posehn|Maria Bamford|Zach ...,NaN,Michael Blieden,NaN,...,The Comedians of Comedy is an occasional stand...,103,Comedy|Documentary,NaN,3/1/05,10,7.00,2005,0.00,0.00
7766,108176,tt1054478,0.13,0,0,Daniel Tosh: Completely Serious,Daniel Tosh,NaN,Manny Rodriguez,NaN,...,Fresh from his numerous appearances on late ni...,60,Comedy,Levity Productions|Levity Entertainment Group,6/17/07,10,6.60,2007,0.00,0.00
6528,17868,tt0488664,0.13,0,0,U2: Vertigo 2005 - Live from Chicago,Bono|The Edge|Adam Clayton| Larry Mullen Jr.|G...,http://u2.com,Hamish Hamilton|Erica Forstadt,NaN,...,"The DVD features 23 electric performances, wit...",139,Music,Line by Line Productions,11/14/05,10,7.60,2005,0.00,0.00
7768,13710,tt1024899,0.13,0,0,Enfin veuve,MichÃ¨le Laroque|Jacques Gamblin|Wladimir Yord...,NaN,Isabelle Mergault,NaN,...,Anne-Marie vient de perdre son mari dans un ac...,94,Comedy,Gaumont,11/1/07,10,4.60,2007,0.00,0.00
7772,25055,tt0960835,0.12,0,0,Transmorphers,Matthew Wolf|Amy Weber|Shaley Scott|Eliza Swen...,NaN,Leigh Scott,NaN,...,About a race of alien robots that have conquer...,86,Action|Adventure|Science Fiction,"Asylum, The",6/26/07,10,1.50,2007,0.00,0.00
3644,63749,tt1684927,0.41,0,0,Swamp Shark,Kristy Swanson|Richard Tanne|D. B. Sweeney|Jas...,NaN,Griff Furst,Fresh water. Fresh meat.,...,Open on gorgeous swamplands of the Atchafalaya...,85,Horror|Thriller,Bullet Films,6/25/11,10,4.90,2011,0.00,0.00
3633,85542,tt1836987,0.42,0,0,Trishna,Freida Pinto|Riz Ahmed|Roshan Seth|Kalki Koech...,NaN,Michael Winterbottom,NaN,...,Based on Thomas Hardyâ€™s classic novel Tess o...,117,Drama,Revolution Films|Head Gear Films|Film i VÃ¤st,9/8/11,10,5.30,2011,0.00,0.00
1129,256690,tt2066048,0.31,0,0,Ribbit,Johan Raja Lawak|Nurul Elfira Loy|Awie|Aznil H...,NaN,Mamat Khalid,A frog with an identity crisis,...,A frog who hates the water and jumping wishes ...,88,Animation|Comedy|Family|Adventure,KRU Studios,6/21/14,10,3.40,2014,0.00,0.00
6148,21627,tt0088967,0.07,3000000,0,Crimewave,Louise Lasser|Brion James|Paul L. Smith|Sheree...,NaN,Sam Raimi,Extermination is not just a business. It's a w...,...,"Fed up of his business partner, Ernest Trend h...",83,Comedy|Crime,Columbia Pictures Corporation|Renaissance Pict...,9/19/85,10,5.40,1985,"6,081,498.16",0.00

A view of the number of unique values in the columns:

In [6]:
df.nunique()

id                      10865
imdb_id                 10855
popularity              10814
budget                    557
revenue                  4702
original_title          10571
cast                    10719
homepage                 2896
director                 5067
tagline                  7997
keywords                 8804
overview                10847
runtime                   247
genres                   2039
production_companies     7445
release_date             5909
vote_count               1289
vote_average               72
release_year               56
budget_adj               2614
revenue_adj              4840
dtype: int64

#### Confirm ambiguous datatypes
----
A confirmation of the datatypes for all columns described above as 'object'.

In [7]:
print("I am imdb_id: ", type(df['imdb_id'][0]))
print("I am original_title: ", type(df['original_title'][0]))
print("I am cast: ", type(df['cast'][0]))
print("I am homepage: ", type(df['homepage'][0]))
print("I am director: ", type(df['director'][0]))
print("I am tagline: ", type(df['tagline'][0]))
print("I am keywords: ", type(df['keywords'][0]))
print("I am overview: ", type(df['overview'][0]))
print("I am genres: ", type(df['genres'][0]))
print("I am production_companies: ", type(df['production_companies'][0]))
print("I am release_date: ", type(df['release_date'][0]))

I am imdb_id:  <class 'str'>
I am original_title:  <class 'str'>
I am cast:  <class 'str'>
I am homepage:  <class 'str'>
I am director:  <class 'str'>
I am tagline:  <class 'str'>
I am keywords:  <class 'str'>
I am overview:  <class 'str'>
I am genres:  <class 'str'>
I am production_companies:  <class 'str'>
I am release_date:  <class 'str'>

#### Initial thoughts on the data so far
---
_Null Values_

While looking at null rows, I noticed that a number of columns have 0:
* popularity
* budget
* revenue
* runtime
* budget_adj
* revenue_adj

_Uniques_

For columns like 'id' and 'original_title' I would expect these to be unique all the way through. A closer inspection of these rows is needed to decide on the action.

_Datatypes_

On the face of it, the only real issue is with release_date. For proper interogation, this will need converting from a string to a datetime object.

#### Closer look at the duplications
---

This section will look at the several hundred film title dupes and the single ID duplication.

In [8]:
# create an extra column and mark a row as True where a duplicate itle is found
df['is_duplicate_title'] = df.duplicated(['original_title'])

In [9]:
# filter anything that is True
df_dupe_title_filter = df[df['is_duplicate_title'] == True]

In [10]:
# since there are several hundred rows, create a new csv for easy viewing in excel
df_dupe_title_filter.to_csv('df_dupe_title_filter.csv', index=False)

In [11]:
# use this cell to spot check titles for differences
df_2 = df[df['original_title'] == 'Survivor']
df_2.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj,is_duplicate_title
67,334074,tt3247714,2.33,20000000,0,Survivor,Pierce Brosnan|Milla Jovovich|Dylan McDermott|...,http://survivormovie.com/,James McTeigue,His Next Target is Now Hunting Him,...,96,Crime|Thriller|Action,Nu Image Films|Winkler Films|Millennium Films|...,5/21/15,280,5.40,2015,"18,399,991.90",0.00,False
1133,281778,tt3297792,0.19,0,0,Survivor,Danielle Chuchran|Kevin Sorbo|Rocky Myers|Ruby...,http://www.arrowstormentertainment.com/#!survi...,John Lyde,Alone. Stranded. Deadly,...,93,Science Fiction|Action|Fantasy,Arrowstorm Entertainment,7/22/14,23,4.90,2014,0.00,0.00,True

The same process is applied for the duplicate ID. Since there is only one duplicate ID, there is no need to create a csv.

In [12]:
df['is_duplicate_id'] = df.duplicated(['id'])

In [13]:
df_dupe_id_filter = df[df['is_duplicate_id'] == True]

In [14]:
df_dupe_id_filter.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj,is_duplicate_title,is_duplicate_id
2090,42194,tt0411951,0.60,30000000,967000,TEKKEN,Jon Foo|Kelly Overton|Cary-Hiroyuki Tagawa|Ian...,NaN,Dwight H. Little,Survival is no game,...,Crime|Drama|Action|Thriller|Science Fiction,Namco|Light Song Films,3/20/10,110,5.00,2010,"30,000,000.00","967,000.00",True,True

Now that I have the duplicate ID (and given that the original_title duplicates appear to be different films with the same title), this is a final sense check to make sure the entire row is a duplicate.

In [15]:
df_3 = df[df['id'] == 42194]
df_3.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj,is_duplicate_title,is_duplicate_id
2089,42194,tt0411951,0.60,30000000,967000,TEKKEN,Jon Foo|Kelly Overton|Cary-Hiroyuki Tagawa|Ian...,NaN,Dwight H. Little,Survival is no game,...,Crime|Drama|Action|Thriller|Science Fiction,Namco|Light Song Films,3/20/10,110,5.00,2010,"30,000,000.00","967,000.00",False,False
2090,42194,tt0411951,0.60,30000000,967000,TEKKEN,Jon Foo|Kelly Overton|Cary-Hiroyuki Tagawa|Ian...,NaN,Dwight H. Little,Survival is no game,...,Crime|Drama|Action|Thriller|Science Fiction,Namco|Light Song Films,3/20/10,110,5.00,2010,"30,000,000.00","967,000.00",True,True

Drop the duplicated ID row from the main dataframe:

In [16]:
df.drop_duplicates(subset=['id'],inplace=True)

### Data Cleaning (Replace this with more specific notes!)

In [17]:
# After discussing the structure of the data and any problems that need to be
#   cleaned, perform those cleaning steps in the second part of this section.

#### Drop columns:
In this section, I've decided to drop columns that are extraneous to the analysis: 
* **imdb_id**: this appears to relate to the previous IMDB data. Assumption is that this was left in by Kaggle to map the IMDB and TMDB ids together
* **popularity**: I was initially unclear what this measured. After some research on the [TMDB website](https://developers.themoviedb.org/3/getting-started/popularity) it seems that this value is derived from a number of factors and used to assist TMDB's internal search UX e.g. boosting results, etc.
* **budget** and **revenue**: since budget_adj and revenue_adj have already been normalised to 2010 levels for more direct comparision, these two columns are no longer required
* **homepage**, **tagline**, **overview** and **keywords**: seem unnecessary to include this for the type of intended analysis
* **is_duplicate_title**: is no longer necessary
* **is_duplicate_id**: is no longer necessary

In [18]:
df.drop(['imdb_id', 'popularity', 'budget', 'revenue', 'homepage', 'tagline', 'overview', 'keywords', 'is_duplicate_title', 'is_duplicate_id'], axis=1, inplace=True)

In [19]:
df.head(1)

,id,original_title,cast,director,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.50,2015,"137,999,939.28","1,392,445,892.52"

#### Update the datatypes
---

This section will look to change the release_date from a string to a datetime object.

In [20]:
df['release_date'] = pd.to_datetime(df['release_date'])

In [21]:
# check it's worked
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10865 entries, 0 to 10865
Data columns (total 13 columns):
id                      10865 non-null int64
original_title          10865 non-null object
cast                    10789 non-null object
director                10821 non-null object
runtime                 10865 non-null int64
genres                  10842 non-null object
production_companies    9835 non-null object
release_date            10865 non-null datetime64[ns]
vote_count              10865 non-null int64
vote_average            10865 non-null float64
release_year            10865 non-null int64
budget_adj              10865 non-null float64
revenue_adj             10865 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(4), object(5)
memory usage: 1.2+ MB

#### Deal with null values
---

This section will look to drop rows with null values. For **runtime**, **budget_adj** and **revenue_adj**, 0 values are also considered null.

For the first 'Genres' based question in the introduction, I will look create a dataframe that cleans out null genres, drop extraneous columns and then clean out the 0 values for budget_adj and revenue_adj. This should return me the most number of intact rows suitable for that exploration.

For the question that looks at the types of properties associcated with high revenue movies, I will wish to keep some of the dropped columns for that analysis - therefore, I will use a separate dataframe.

In [22]:
df_genres = df.copy()
df_genres.drop(['cast', 'director', 'runtime', 'production_companies', 'budget_adj', 'revenue_adj'], axis=1, inplace=True)
df_genres.head(1)

,id,original_title,genres,release_date,vote_count,vote_average,release_year
0,135397,Jurassic World,Action|Adventure|Science Fiction|Thriller,2015-06-09,5562,6.50,2015

In [23]:
# drop NaN values - only targets genres at this stage
df_genres.dropna(axis=0, how='any', inplace=True)

In [24]:
df_genres_split = df_genres['genres'].str[:].str.split('|', expand=True)

In [25]:
df_genres_split.head(10)

                 0                1                2          3     4
0           Action        Adventure  Science Fiction   Thriller  None
1           Action        Adventure  Science Fiction   Thriller  None
2        Adventure  Science Fiction         Thriller       None  None
3           Action        Adventure  Science Fiction    Fantasy  None
4           Action            Crime         Thriller       None  None
5          Western            Drama        Adventure   Thriller  None
6  Science Fiction           Action         Thriller  Adventure  None
7            Drama        Adventure  Science Fiction       None  None
8           Family        Animation        Adventure     Comedy  None
9           Comedy        Animation           Family       None  None

In [26]:
# was hoping that this might help me get counts of all genre labels
# across all columns. Doesn't quite seem to work - if I change the 0 to 1, 2, 3 or 4
# then counts against the columns changes in a way that I don't quite know what is
# happening i.e. change to 1 and I hoped the value for Action in the 3 column would stay
# at 624... it doesn't it changes to 256
# the main benefit (by accident) is that I now know how many/what the different genre labels are
df_genres_split.groupby(0).count()

                    1     2    3    4
0
Action           1527  1225  624  193
Adventure         564   486  266  109
Animation         371   233   92   22
Comedy           1607   705  154   35
Crime             377   259   89    9
Documentary       120    17    2    1
Drama            1741   866  278   45
Family            128    69   23    5
Fantasy           261   217  111   44
Foreign             8     7    1    1
History            43    25    8    2
Horror            662   280   54    5
Music              77    40   19    3
Mystery           122    81   29   10
Romance           177    97   36   11
Science Fiction   178   115   45    9
TV Movie           75    58   33   12
Thriller          398   252   93   18
War                54    34   15    5
Western            24    12    8    2

In [27]:
genres_list = ['Action',
               'Adventure',
               'Animation',
               'Comedy', 
               'Crime', 
               'Documentary', 
               'Drama', 
               'Family', 
               'Fantasy', 
               'Foreign', 
               'History', 
               'Horror', 
               'Music', 
               'Mystery', 
               'Romance', 
               'Science Fiction', 
               'TV Movie', 
               'Thriller', 
               'War', 
               'Western']

count = 0
for i in genres_list:
    boolean_list = []
    genre_index = genres_list[count]
    for row in df_genres['genres']:
        if genre_index in row:
            boolean_list.append(True)
        else:
            boolean_list.append(False)
    df_genres[genres_list[count]] = boolean_list
    count = count + 1

In [30]:
#df_genres.drop(['Comedey'], axis=1, inplace=True)
df_genres.head(1)

,id,original_title,genres,release_date,vote_count,vote_average,release_year,Action,Adventure,Animation,...,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
0,135397,Jurassic World,Action|Adventure|Science Fiction|Thriller,2015-06-09,5562,6.50,2015,True,True,False,...,False,False,False,False,False,True,False,True,False,False

In [31]:
df_genres.drop(['genres'], axis=1, inplace=True)

In [32]:
df_genres.head(1)

,id,original_title,release_date,vote_count,vote_average,release_year,Action,Adventure,Animation,Comedy,...,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
0,135397,Jurassic World,2015-06-09,5562,6.50,2015,True,True,False,False,...,False,False,False,False,False,True,False,True,False,False

In [29]:
# df_genres_test = df_genres[df_genres.release_year != 2015]
# use this later for dropping specific 0 values from budget_adj

<a id='eda'></a>
## Exploratory Data Analysis

> **Tip**: Now that you've trimmed and cleaned your data, you're ready to move on to exploration. Compute statistics and create visualizations with the goal of addressing the research questions that you posed in the Introduction section. It is recommended that you be systematic with your approach. Look at one variable at a time, and then follow it up by looking at relationships between variables.

### Research Question 1 (Replace this header name!)

In [ ]:
# Use this, and more code cells, to explore your data. Don't forget to add
#   Markdown cells to document your observations and findings.

### Research Question 2  (Replace this header name!)

In [ ]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed. Make sure that you are clear with regards to the limitations of your exploration. If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work, you should save a copy of the report in HTML or PDF form via the **File** > **Download as** submenu. Before exporting your report, check over it to make sure that the flow of the report is complete. You should probably remove all of the "Tip" quotes like this one so that the presentation is as tidy as possible. Congratulations!