# Project: Investigate a Dataset (Replace this with something more specific!)

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

> **Tip**: In this section of the report, provide a brief introduction to the dataset you've selected for analysis. At the end of this section, describe the questions that you plan on exploring over the course of the report. Try to build your report around the analysis of at least one dependent variable and three independent variables.
>
> If you haven't yet selected and downloaded your data, make sure you do that first before coming back here. If you're not sure what questions to ask right now, then make sure you familiarize yourself with the variables and the dataset context for ideas of what to explore.

For this project I have chosen to look at the TMDB dataset. This data was provided as part of the Udacity Data Analysis Nanodegree and originated from [Kaggle](https://www.kaggle.com/tmdb/tmdb-movie-metadata). It was originally sourced from IMDB but was replaced after takedown request.

Questions:
Which genres are most popular from year to year? What kinds of properties are associated with movies that have high revenues?

In [1]:
import pandas as pd
import numpy as np
% matplotlib inline

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('darkgrid')
# Stop floats from displaying as scientific notation
pd.options.display.float_format = '{:20,.2f}'.format

<a id='wrangling'></a>
## Data Wrangling

> **Tip**: In this section of the report, you will load in the data, check for cleanliness, and then trim and clean your dataset for analysis. Make sure that you document your steps carefully and justify your cleaning decisions.

### General Properties

In [2]:
# Load your data and print out a few lines. Perform operations to inspect data
# types and look for instances of missing or possibly errant data.
df = pd.read_csv('tmdb-movies.csv')

#### High level view of the dataset:
In this section I'll take an initial view of the data - this will also include the number of rows, the datatypes and the number of non-null values in those columns. I'll also take a look at the number of unique values for those columns.

In [3]:
df.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.99,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.50,2015,"137,999,939.28","1,392,445,892.52"
1,76341,tt1392190,28.42,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.10,2015,"137,999,939.28","348,161,292.49"
2,262500,tt2908446,13.11,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.30,2015,"101,199,955.47","271,619,025.41"
3,140607,tt2488496,11.17,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.50,2015,"183,999,919.04","1,902,723,129.80"
4,168259,tt2820852,9.34,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.30,2015,"174,799,923.09","1,385,748,801.47"

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
id                      10866 non-null int64
imdb_id                 10856 non-null object
popularity              10866 non-null float64
budget                  10866 non-null int64
revenue                 10866 non-null int64
original_title          10866 non-null object
cast                    10790 non-null object
homepage                2936 non-null object
director                10822 non-null object
tagline                 8042 non-null object
keywords                9373 non-null object
overview                10862 non-null object
runtime                 10866 non-null int64
genres                  10843 non-null object
production_companies    9836 non-null object
release_date            10866 non-null object
vote_count              10866 non-null int64
vote_average            10866 non-null float64
release_year            10866 non-null int64
budget_adj              10866 non-null float64
revenue_adj             10866 non-null float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

The next cell was used to sort by different columns names (just replace the column name to get a look at the NaN data or see if there was any 0s).

In [20]:
df.sort_values(by=['popularity'], ascending=False)

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.99,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.50,2015,"137,999,939.28","1,392,445,892.52"
1,76341,tt1392190,28.42,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.10,2015,"137,999,939.28","348,161,292.49"
629,157336,tt0816692,24.95,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,http://www.interstellarmovie.net/,Christopher Nolan,Mankind was born on Earth. It was never meant ...,...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/14,6498,8.00,2014,"151,980,023.38","572,690,645.12"
630,118340,tt2015381,14.31,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,http://marvel.com/guardians,James Gunn,All heroes start somewhere.,...,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/14,5612,7.90,2014,"156,585,478.63","712,291,130.17"
2,262500,tt2908446,13.11,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.30,2015,"101,199,955.47","271,619,025.41"
631,100402,tt1843866,12.97,170000000,714766572,Captain America: The Winter Soldier,Chris Evans|Scarlett Johansson|Sebastian Stan|...,http://www.captainamericathewintersoldiermovie...,Joe Russo|Anthony Russo,In heroes we trust.,...,After the cataclysmic events in New York with ...,136,Action|Adventure|Science Fiction,Marvel Studios,3/20/14,3848,7.60,2014,"156,585,478.63","658,365,092.86"
1329,11,tt0076759,12.04,11000000,775398007,Star Wars,Mark Hamill|Harrison Ford|Carrie Fisher|Peter ...,http://www.starwars.com/films/star-wars-episod...,George Lucas,"A long time ago in a galaxy far, far away...",...,Princess Leia is captured and held hostage by ...,121,Adventure|Action|Science Fiction,Lucasfilm|Twentieth Century Fox Film Corporation,3/20/77,4428,7.90,1977,"39,575,591.36","2,789,712,242.28"
632,245891,tt2911666,11.42,20000000,78739897,John Wick,Keanu Reeves|Michael Nyqvist|Alfie Allen|Wille...,http://www.johnwickthemovie.com/,Chad Stahelski|David Leitch,Don't set him off.,...,"After the sudden death of his beloved wife, Jo...",101,Action|Thriller,Thunder Road Pictures|Warner Bros.|87Eleven|De...,10/22/14,2712,7.00,2014,"18,421,821.02","72,526,614.47"
3,140607,tt2488496,11.17,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.50,2015,"183,999,919.04","1,902,723,129.80"
633,131631,tt1951265,10.74,125000000,752100229,The Hunger Games: Mockingjay - Part 1,Jennifer Lawrence|Josh Hutcherson|Liam Hemswor...,http://www.thehungergames.movie/,Francis Lawrence,Fire burns brighter in the darkness,...,Katniss Everdeen reluctantly becomes the symbo...,123,Science Fiction|Adventure|Thriller,Lionsgate|Color Force,11/18/14,3590,6.60,2014,"115,136,381.35","692,752,790.22"
634,122917,tt2310332,10.17,250000000,955119788,The Hobbit: The Battle of the Five Armies,Martin Freeman|Ian McKellen|Richard Armitage|K...,http://www.thehobbit.com/,Peter Jackson,Witness the defining chapter of the Middle-Ear...,...,Immediately after the events of The Desolation...,144,Adventure|Fantasy,WingNut Films|New Line Cinema|3Foot7|Metro-Gol...,12/10/14,3110,7.10,2014,"230,272,762.69","879,752,289.14"
1386,19995,tt0499549,9.43,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,http://www.avatarmovie.com/,James Cameron,Enter the World of Pandora.,...,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/09,8458,7.10,2009,"240,886,902.89","2,827,123,750.41"
1919,27205,tt1375666,9.36,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,http://inceptionmovie.warnerbros.com/,Christopher Nolan,Your mind is the scene of the crime.,...,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/10,9767,7.90,2010,"160,000,000.00","825,500,000.00"
4,168259,tt2820852,9.34,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.30,2015,"174,799,923.09","1,385,748,801.47"
5,281957,tt1663202,9.11,135000000,532950503,The Revenant,Leonardo DiCaprio|Tom Hardy|Will Poulter|Domhn...,http://www.foxmovies.com/movies/the-revenant,Alejandro GonzÃ¡lez IÃ±Ã¡rritu,"(n. One who has returned, as if from the dead.)",...,"In the 1820s, a frontiersman, Hugh Glass, sets...",156,Western|Drama|Adventure|Thriller,Regency Enterprises|Appian Way|CatchPlay|Anony...,12/25/15,3929,7.20,2015,"124,199,945.35","490,314,247.02"
2409,550,tt0137523,8.95,63000000,100853753,Fight Club,Edward Norton|Brad Pitt|Meat Loaf|Jared Leto|H...,http://www.foxmovies.com/movies/fight-club,David Fincher,How much can you know about yourself if you've...,...,A ticking-time-bomb insomniac and a slippery s...,139,Drama,Regency Enterprises|Fox 2000 Pictures|Taurus F...,10/14/99,5923,8.10,1999,"82,470,329.34","132,022,892.45"
635,177572,tt2245084,8.69,165000000,652105443,Big Hero 6,Scott Adsit|Ryan Potter|Daniel Henney|T.J. Mil...,http://movies.disney.com/big-hero-6,Don Hall|Chris Williams,From the creators of Wreck-it Ralph and Frozen,...,The special bond that develops between plus-si...,102,Adventure|Family|Animation|Action|Comedy,Walt Disney Pictures|Walt Disney Animation Stu...,10/24/14,4185,7.80,2014,"151,980,023.38","600,648,487.71"
6,87101,tt1340138,8.65,155000000,440603537,Terminator Genisys,Arnold Schwarzenegger|Jason Clarke|Emilia Clar...,http://www.terminatormovie.com/,Alan Taylor,Reset the future,...,"The year is 2029. John Connor, leader of the r...",125,Science Fiction|Action|Thriller|Adventure,Paramount Pictures|Skydance Productions,6/23/15,2598,5.80,2015,"142,599,937.26","405,355,075.68"
2633,120,tt0120737,8.58,93000000,871368364,The Lord of the Rings: The Fellowship of the Ring,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,http://www.lordoftherings.net/,Peter Jackson,One ring to rule them all,...,"Young hobbit Frodo Baggins, after inheriting a...",178,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,12/18/01,6079,7.80,2001,"114,528,394.85","1,073,079,785.53"
2875,155,tt0468569,8.47,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,http://thedarkknight.warnerbros.com/dvdsite/,Christopher Nolan,Why So Serious?,...,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/08,8432,8.10,2008,"187,365,527.25","1,014,733,032.48"
3371,161337,tt2381375,8.41,0,0,Underworld: Endless War,Trevor Devall|Brian Dobson|Paul Dobson|Laura H...,NaN,Juno John Lee,NaN,...,Underworld: Endless War is a collection of thr...,18,Action|Animation|Horror,NaN,10/19/11,21,5.90,2011,0.00,0.00
636,205596,tt2084970,8.11,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,http://theimitationgamemovie.com/,Morten Tyldum,The true enigma was the man who cracked the code.,...,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/14,3478,8.00,2014,"12,895,274.71","215,126,072.50"
3911,121,tt0167261,8.10,79000000,926287400,The Lord of the Rings: The Two Towers,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,http://www.lordoftherings.net/,Peter Jackson,A New Power Is Rising.,...,Frodo and Sam are trekking to Mordor to destro...,179,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,12/18/02,5114,7.80,2002,"95,768,650.10","1,122,902,454.42"
4177,680,tt0110912,8.09,8000000,213928762,Pulp Fiction,John Travolta|Samuel L. Jackson|Uma Thurman|Br...,NaN,Quentin Tarantino,Just because you are a character doesn't mean ...,...,"A burger-loving hit man, his philosophical par...",154,Thriller|Crime,Miramax Films|A Band Apart|Jersey Films,10/14/94,5343,8.10,1994,"11,768,892.49","314,713,075.14"
2634,671,tt0241527,8.02,125000000,976475550,Harry Potter and the Philosopher's Stone,Daniel Radcliffe|Rupert Grint|Emma Watson|John...,http://harrypotter.warnerbros.com/harrypottera...,Chris Columbus,Let the Magic Begin.,...,Harry Potter has lived under the stairs at his...,152,Adventure|Fantasy|Family,1492 Pictures|Warner Bros.|Heyday Films,11/16/01,4265,7.20,2001,"153,936,014.59","1,202,518,036.07"
3372,1771,tt0458339,7.96,140000000,370569774,Captain America: The First Avenger,Chris Evans|Hugo Weaving|Tommy Lee Jones|Hayle...,http://captainamerica.marvel.com/,Joe Johnston,When patriots become heroes,...,"Predominantly set during World War II, Steve R...",124,Action|Adventure|Science Fiction,Marvel Studios,7/22/11,5025,6.50,2011,"135,715,725.96","359,229,613.56"
2410,603,tt0133093,7.75,63000000,463517383,The Matrix,Keanu Reeves|Laurence Fishburne|Carrie-Anne Mo...,http://www.warnerbros.com/matrix,Lilly Wachowski|Lana Wachowski,Welcome to the Real World.,...,"Set in the 22nd century, The Matrix tells the ...",136,Action|Science Fiction,Village Roadshow Pictures|Groucho II Film Part...,3/30/99,6351,7.80,1999,"82,470,329.34","606,768,749.66"
7,286217,tt3659388,7.67,108000000,595380321,The Martian,Matt Damon|Jessica Chastain|Kristen Wiig|Jeff ...,http://www.foxmovies.com/movies/the-martian,Ridley Scott,Bring Him Home,...,"During a manned mission to Mars, Astronaut Mar...",141,Drama|Adventure|Science Fiction,Twentieth Century Fox Film Corporation|Scott F...,9/30/15,4572,7.60,2015,"99,359,956.28","547,749,654.31"
4361,24428,tt0848228,7.64,220000000,1519557910,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,http://marvel.com/avengers_movie/,Joss Whedon,Some assembly required.,...,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/12,8903,7.30,2012,"208,943,741.90","1,443,191,435.21"
8,211672,tt2293640,7.40,74000000,1156730962,Minions,Sandra Bullock|Jon Hamm|Michael Keaton|Allison...,http://www.minionsmovie.com/,Kyle Balda|Pierre Coffin,"Before Gru, they had a history of bad bosses",...,"Minions Stuart, Kevin and Bob are recruited by...",91,Family|Animation|Adventure|Comedy,Universal Pictures|Illumination Entertainment,6/17/15,2893,6.50,2015,"68,079,970.04","1,064,192,016.80"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6077,203351,tt2740710,0.00,0,0,Atlantic Rim,Graham Greene|David Chokachi|Jackie Moore|Nico...,NaN,Jared Cohn,Monsters vs Machines,...,When monsters suddenly appear from the bottom ...,85,Action|Science Fiction,The Asylum|Tiki Terrors,7/9/13,21,2.20,2013,0.00,0.00
6078,376823,tt3231100,0.00,0,0,Trophy Kids,NaN,NaN,Chris Bell,NaN,...,From the director of Bigger Stronger Faster co...,107,Documentary,NaN,12/4/13,10,7.80,2013,0.00,0.00
1328,288301,tt3997238,0.00,0,0,Do I Sound Gay?,Michael Airington|Margaret Cho|Tim Gunn|Jeff H...,http://www.doisoundgay.com,David Thorpe,NaN,...,"Is there such a thing as a ""gay voice""? Why do...",77,Documentary,NaN,7/10/14,12,5.80,2014,0.00,0.00
3368,19713,tt1057581,0.00,500000,0,How to Be,Robert Pattinson|Powell Jones|Johnny White|Mik...,http://www.howtobemovie.com/,Oliver Irving,NaN,...,A young man having an existential crisis convi...,85,Comedy|Drama|Foreign,How To Be Films,1/17/08,11,4.50,2008,"506,393.32",0.00
3365,22258,tt1321823,0.00,0,0,Foo Fighters: Live at Wembley Stadium,Dave Grohl|Nate Mendel|Chris Shiflett|Pat Smea...,NaN,NaN,NaN,...,Foo Fighters captured over their two sold-out ...,120,Music,NaN,8/25/08,10,8.40,2008,0.00,0.00
1910,39246,tt1370889,0.00,0,0,Talhotblond,NaN,NaN,Barbara Schroeder,NaN,...,This is the true story of a love triangle that...,83,Documentary,NaN,2/1/09,11,6.00,2009,0.00,0.00
1385,20785,tt0075988,0.00,0,0,Emmet Otter's Jug-Band Christmas,NaN,NaN,Jim Henson,NaN,...,A poor otter family risks everything for the c...,48,Drama|Comedy|Family,NaN,1/1/77,10,7.50,1977,0.00,0.00
10219,48197,tt0075342,0.00,0,0,The Town That Dreaded Sundown,Ben Johnson|Andrew Prine|Dawn Wells|Jimmy Clem...,NaN,Charles B. Pierce,In 1946 this man killed five people... Today h...,...,A Texas Ranger hunts for a hooded serial kille...,86,Horror|Mystery|Thriller|Crime,American International Pictures (AIP),9/26/76,15,6.30,1976,0.00,0.00
4945,110496,tt2087985,0.00,0,0,The Pregnancy Project,Alexa PenaVega|Walter Perez|Ted Whittall|Judy ...,http://www.mylifetime.com/movies/the-pregnancy...,Norman Buckley,NaN,...,The Pregnancy project tells the real story of ...,86,TV Movie|Drama,NaN,1/28/12,13,6.70,2012,0.00,0.00
6079,231401,tt3141866,0.00,0,0,The Sound of Music Live!,Laura Benanti|Stephen Moyer|Carrie Underwood|C...,http://www.nbc.com/sound-of-music/,Beth McCarthy-Miller|Rob Ashford,NaN,...,"This new version of ""The Sound of Music"" will ...",180,Drama|Family,NaN,12/5/13,11,5.60,2013,0.00,0.00
8053,37777,tt0086850,0.00,0,0,Acqua e sapone,Carlo Verdone|Natasha Hovey|Glenn Saxson|Elena...,NaN,Carlo Verdone,NaN,...,La madre-manager di una giovanissima modella a...,109,Drama|Family,NaN,10/27/83,21,6.10,1983,0.00,0.00
3910,79976,tt2096615,0.00,0,0,Steve Jobs: One Last Thing,NaN,NaN,NaN,NaN,...,Through interviews with colleagues and others ...,60,Documentary,NaN,11/2/11,11,6.60,2011,0.00,0.00
6553,33081,tt0451850,0.00,0,0,Paheli,Shah Rukh Khan|Rani Mukerji|Naseeruddin Shah,NaN,Amol Palekar,NaN,...,"Kishanlal marries the beautiful Lachchi, but t...",141,Drama|Thriller|Science Fiction|Romance|Foreign,Red Chillies Entertainment,6/24/05,13,6.20,2005,0.00,0.00
4947,124067,tt2380247,0.00,0,273747,The Central Park Five,Antron McCray|Kevin Richardson|Yusef Salaam|Ra...,http://www.pbs.org/kenburns/centralparkfive/,Sarah Burns|Ken Burns,NaN,...,"In 1989, five black and Latino teenagers from ...",119,Documentary,Florentine Films|WETA,5/24/12,22,6.40,2012,0.00,"259,989.65"
3369,77974,tt2014400,0.00,0,0,Wizards On Deck With Hannah Montana,NaN,NaN,NaN,NaN,...,"Three Disney Channel shows come together in ""W...",68,Family,NaN,2/11/08,14,6.10,2008,0.00,0.00
9593,46188,tt0220698,0.00,0,0,Peter Pan,NaN,NaN,NaN,NaN,...,This animated fairy tale for kids tells the cl...,52,Action|Adventure|Animation|Family|Fantasy,Burbank Films Australia,1/1/88,28,6.60,1988,0.00,0.00
4919,135403,tt2471626,0.00,0,0,Freddie Mercury: The Great Pretender,Freddie Mercury|Roger Taylor|Brian May|Luciano...,NaN,Rhys Thomas,NaN,...,Freddie Mercury: The Great Pretender is a 2012...,107,Music|Documentary,Arte|Eagle Rock Entertainment,9/25/12,10,7.20,2012,0.00,0.00
10592,38343,tt0092276,0.00,0,0,Yuppies 2,Massimo Boldi|Jerry CalÃ |Christian De Sica|Ez...,NaN,Enrico Oldoini,NaN,...,Continuano le avventure degli yuppies milanesi...,104,Comedy,NaN,1/1/86,11,5.00,1986,0.00,0.00
7267,203766,tt0403778,0.00,0,0,Long Way Round,Ewan McGregor|Charley Boorman,NaN,Russ Malkin|David Alexanian,"2 men, 2 bikes, 20,000 miles...",...,This documentary series follows actors Ewan Mc...,294,Documentary|Adventure,NaN,10/3/04,11,7.00,2004,0.00,0.00
1918,31687,tt1520496,0.00,0,0,Circle of Eight,Austin Highsmith|Jesse Johnson|Ryan Doom|Josh ...,NaN,Stephen Cragg,NaN,...,Jessica moves into a loft on the eighth floor ...,84,Mystery|Horror,Bronson Avenue|Paramount Pictures Digital Ente...,10/27/09,11,4.30,2009,0.00,0.00
4948,84288,tt2120152,0.00,0,0,The Invisible War,Kori Cioca|Jessica Hinves|Ariana Klay|Elle Hel...,http://invisiblewarmovie.com/,Kirby Dick,The Battleground Is Your Barracks,...,An investigative and powerfully emotional docu...,93,Crime|Drama|History|Documentary,Canal+|Chain Camera Pictures|ITVS|Rise Films|G...,1/20/12,17,7.00,2012,0.00,0.00
2874,57961,tt0286975,0.00,165000,0,Slashers,Tony Curtis Blondell,NaN,Maurice Devereaux,Are you Game?,...,Japan's number one extreme reality show is hav...,99,Comedy|Horror|Fantasy,NaN,1/1/01,11,5.50,2001,"203,195.54",0.00
3370,15953,tt1020955,0.00,0,0,Fuera de carta,Javier CÃ¡mara|Lola DueÃ±as|Fernando Tejero|Be...,http://www.fueradecarta.com,Nacho G. Velilla,NaN,...,Maxi thinks is life is perfect. He is a famous...,111,Comedy,TLA Releasing,4/11/08,13,5.30,2008,0.00,0.00
7256,89049,tt0388644,0.00,0,0,SoupÃ§ons,Michael Peterson,NaN,Jean-Xavier de Lestrade,Accident or cold-blooded murder?,...,"Academy Award-winning documentary filmmaker, J...",360,Drama|Documentary,NaN,6/1/04,12,7.50,2004,0.00,0.00
7268,1392,tt0388789,0.00,350000,3515061,Born into Brothels,Zana Briski|Avijit|Geeta Masi|Kochi|Mamuni,http://www.kids-with-cameras.org/bornintobroth...,Zana Briski|Ross Kauffman,NaN,...,The academy award winning documentary depictin...,85,Documentary,NaN,12/8/04,23,6.40,2004,"404,055.89","4,057,946.00"
6961,15412,tt0466460,0.00,0,0,Khosla Ka Ghosla!,Anupam Kher|Boman Irani|Parvin Dabas|Tara Shar...,NaN,Dibakar Banerjee,A Delhi-based retired middle class man tries t...,...,"Upon retirement, cranky control freak Kamal Ki...",135,Comedy,UTV Motion Pictures,9/22/06,10,6.80,2006,0.00,0.00
6551,31329,tt0445570,0.00,0,0,Mon petit doigt m'a dit...,Catherine Frot|AndrÃ© Dussollier|GeneviÃ¨ve Bu...,NaN,Pascal Thomas,NaN,...,No overview found.,105,Comedy|Mystery,RhÃ´ne-Alpes CinÃ©ma|France2 CinÃ©ma,4/13/05,13,5.70,2005,0.00,0.00
6080,174323,tt2429074,0.00,0,0,G.B.F.,Michael J. Willett|Paul Iacono|Sasha Pieterse|...,https://www.facebook.com/GBFmovie,Darren Stein,Being out has never been so in.,...,The bitter fight for supremacy between the thr...,92,Comedy,School Pictures|Parting Shots Media|Logolite E...,10/20/13,82,6.10,2013,0.00,0.00
9977,32082,tt0067217,0.00,0,0,The Hospital,George C. Scott|Diana Rigg|Richard Dysart|Barn...,NaN,Arthur Hiller,"Madness, Murder and Malpractice.",...,Black comedy in which a suicidal doctor strugg...,103,Mystery|Comedy|Drama,Simcha Productions,12/14/71,10,6.40,1971,0.00,0.00
6181,18729,tt0088583,0.00,0,0,"North and South, Book I",Patrick Swayze|Philip Casnoff|Kirstie Alley|Ge...,NaN,NaN,NaN,...,"Two friends, one northern and one southern, st...",561,Drama|History|Western,NaN,11/3/85,17,6.00,1985,0.00,0.00

A view of the number of unique values in the columns:

In [5]:
df.nunique()

id                      10865
imdb_id                 10855
popularity              10814
budget                    557
revenue                  4702
original_title          10571
cast                    10719
homepage                 2896
director                 5067
tagline                  7997
keywords                 8804
overview                10847
runtime                   247
genres                   2039
production_companies     7445
release_date             5909
vote_count               1289
vote_average               72
release_year               56
budget_adj               2614
revenue_adj              4840
dtype: int64

#### Confirm ambiguous datatypes
----
A confirmation of the datatypes for all columns described above as 'object'.

In [6]:
print("I am imdb_id: ", type(df['imdb_id'][0]))
print("I am original_title: ", type(df['original_title'][0]))
print("I am cast: ", type(df['cast'][0]))
print("I am homepage: ", type(df['homepage'][0]))
print("I am director: ", type(df['director'][0]))
print("I am tagline: ", type(df['tagline'][0]))
print("I am keywords: ", type(df['keywords'][0]))
print("I am overview: ", type(df['overview'][0]))
print("I am genres: ", type(df['genres'][0]))
print("I am production_companies: ", type(df['production_companies'][0]))
print("I am release_date: ", type(df['release_date'][0]))

I am imdb_id:  <class 'str'>
I am original_title:  <class 'str'>
I am cast:  <class 'str'>
I am homepage:  <class 'str'>
I am director:  <class 'str'>
I am tagline:  <class 'str'>
I am keywords:  <class 'str'>
I am overview:  <class 'str'>
I am genres:  <class 'str'>
I am production_companies:  <class 'str'>
I am release_date:  <class 'str'>

#### Initial thoughts on the data so far
--------------------
_Null Values_

While looking at null rows, I noticed that a number of columns have 0:
* popularity
* budget
* revenue
* runtime
* budget_adj
* revenue_adj

_Uniques_

For columns like 'id' and 'original_title' I would expect these to be unique all the way through. A closer inspection of these rows is needed to decide on the action.

_Datatypes_

On the face of it, the only real issue is with release_date. For proper interogation, this will need converting from a string to a datetime object.

In [45]:
df["is_duplicate"]= df.duplicated(['original_title'])

In [46]:
df_dupe_title_filter = df[df['is_duplicate'] == True]

In [48]:
df_dupe_title_filter.to_csv('df_dupe_title_filter.csv', index=False)

In [50]:
df_2 = df[df['original_title'] == 'Survivor']
df_2.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj,is_duplicate
67,334074,tt3247714,2.33,20000000,0,Survivor,Pierce Brosnan|Milla Jovovich|Dylan McDermott|...,http://survivormovie.com/,James McTeigue,His Next Target is Now Hunting Him,...,96,Crime|Thriller|Action,Nu Image Films|Winkler Films|Millennium Films|...,5/21/15,280,5.40,2015,"18,399,991.90",0.00,False
1133,281778,tt3297792,0.19,0,0,Survivor,Danielle Chuchran|Kevin Sorbo|Rocky Myers|Ruby...,http://www.arrowstormentertainment.com/#!survi...,John Lyde,Alone. Stranded. Deadly,...,93,Science Fiction|Action|Fantasy,Arrowstorm Entertainment,7/22/14,23,4.90,2014,0.00,0.00,True

> **Tip**: You should _not_ perform too many operations in each cell. Create cells freely to explore your data. One option that you can take with this project is to do a lot of explorations in an initial notebook. These don't have to be organized, but make sure you use enough comments to understand the purpose of each code cell. Then, after you're done with your analysis, create a duplicate notebook where you will trim the excess and organize your steps so that you have a flowing, cohesive report.

> **Tip**: Make sure that you keep your reader informed on the steps that you are taking in your investigation. Follow every code cell, or every set of related code cells, with a markdown cell to describe to the reader what was found in the preceding cell(s). Try to make it so that the reader can then understand what they will be seeing in the following cell(s).

### Data Cleaning (Replace this with more specific notes!)

In [ ]:
# After discussing the structure of the data and any problems that need to be
#   cleaned, perform those cleaning steps in the second part of this section.

#### Drop columns:
In this section, I've decided to drop columns that are extraneous to the analysis: 
* **imdb_id**: this appears to relate to the previous IMDB data. Assumption is that this was left in by Kaggle to map the IMDB and TMDB ids together
* **popularity**: I was initially unclear what this measured. After some research on the [TMDB website](https://developers.themoviedb.org/3/getting-started/popularity) it seems that this value is derived from a number of factors and used to assist TMDB's internal search UX e.g. boosting results, etc.
* **homepage**: seems unnecessary to include this for the type of intended analysis. There are also a high proportion of null values
* **tagline**: seems unnecessary to include this for the type of intended analysis
* **overview**: seems unnecessary to include this for the type of intended analysis
* **keywords**: seems unnecessary to include this for the type of intended analysis

In [ ]:
df.drop(['imdb_id', 'popularity', 'homepage', 'tagline', 'overview', 'keywords'], axis=1, inplace=True)

In [ ]:
df.head(5)

<a id='eda'></a>
## Exploratory Data Analysis

> **Tip**: Now that you've trimmed and cleaned your data, you're ready to move on to exploration. Compute statistics and create visualizations with the goal of addressing the research questions that you posed in the Introduction section. It is recommended that you be systematic with your approach. Look at one variable at a time, and then follow it up by looking at relationships between variables.

### Research Question 1 (Replace this header name!)

In [ ]:
# Use this, and more code cells, to explore your data. Don't forget to add
#   Markdown cells to document your observations and findings.

### Research Question 2  (Replace this header name!)

In [ ]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed. Make sure that you are clear with regards to the limitations of your exploration. If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work, you should save a copy of the report in HTML or PDF form via the **File** > **Download as** submenu. Before exporting your report, check over it to make sure that the flow of the report is complete. You should probably remove all of the "Tip" quotes like this one so that the presentation is as tidy as possible. Congratulations!