# Project: An investigation into a TMDB dataset

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

---
For this project I have chosen to look at the TMDB dataset. This data was provided as part of the Udacity Data Analysis Nanodegree and originated from [Kaggle](https://www.kaggle.com/tmdb/tmdb-movie-metadata). It was originally sourced from IMDB but was replaced after takedown request.

_Questions_:

1. Which genres are most popular from year to year?
2. What kinds of properties are associated with films that have high revenues?

---

In [1]:
import pandas as pd
import numpy as np
% matplotlib inline

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('darkgrid')
# Stop floats from displaying as scientific notation
pd.options.display.float_format = '{:20,.2f}'.format

<a id='wrangling'></a>
## Data Wrangling

### General Properties

In [2]:
# Load your data and print out a few lines. Perform operations to inspect data
# types and look for instances of missing or possibly errant data.
movies = pd.read_csv('tmdb-movies.csv')

#### High level view of the dataset
----
In this section I'll take an initial view of the data - this will also include the number of rows, the datatypes and the number of non-null values in those columns. I'll also take a look at the number of unique values for those columns.

---

In [3]:
movies.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.99,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.50,2015,"137,999,939.28","1,392,445,892.52"
1,76341,tt1392190,28.42,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.10,2015,"137,999,939.28","348,161,292.49"
2,262500,tt2908446,13.11,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.30,2015,"101,199,955.47","271,619,025.41"
3,140607,tt2488496,11.17,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.50,2015,"183,999,919.04","1,902,723,129.80"
4,168259,tt2820852,9.34,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.30,2015,"174,799,923.09","1,385,748,801.47"

In [4]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
id                      10866 non-null int64
imdb_id                 10856 non-null object
popularity              10866 non-null float64
budget                  10866 non-null int64
revenue                 10866 non-null int64
original_title          10866 non-null object
cast                    10790 non-null object
homepage                2936 non-null object
director                10822 non-null object
tagline                 8042 non-null object
keywords                9373 non-null object
overview                10862 non-null object
runtime                 10866 non-null int64
genres                  10843 non-null object
production_companies    9836 non-null object
release_date            10866 non-null object
vote_count              10866 non-null int64
vote_average            10866 non-null float64
release_year            10866 non-null int64
budget_adj              10866 non-null float64
revenue_adj             10866 non-null float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

---
A view of the number of unique values in the columns:

---

In [5]:
movies.nunique()

id                      10865
imdb_id                 10855
popularity              10814
budget                    557
revenue                  4702
original_title          10571
cast                    10719
homepage                 2896
director                 5067
tagline                  7997
keywords                 8804
overview                10847
runtime                   247
genres                   2039
production_companies     7445
release_date             5909
vote_count               1289
vote_average               72
release_year               56
budget_adj               2614
revenue_adj              4840
dtype: int64

---
The next cell is used to sort by different columns names (_just replace the column name to get a look at the NaN data or see if there was any 0s_).

---

In [6]:
null_check = movies.loc[:, ['id', 'budget_adj']].sort_values(by=['budget_adj'], ascending=True)
null_check.head()

         id           budget_adj
5329   9611                 0.00
3838  65256                 0.00
3837  64854                 0.00
3836  70574                 0.00
3835  75964                 0.00

#### Confirm ambiguous datatypes
---
A confirmation of the datatypes for all columns described above as 'object'.

---

In [7]:
print("I am imdb_id: ", type(movies['imdb_id'][0]))
print("I am original_title: ", type(movies['original_title'][0]))
print("I am cast: ", type(movies['cast'][0]))
print("I am homepage: ", type(movies['homepage'][0]))
print("I am director: ", type(movies['director'][0]))
print("I am tagline: ", type(movies['tagline'][0]))
print("I am keywords: ", type(movies['keywords'][0]))
print("I am overview: ", type(movies['overview'][0]))
print("I am genres: ", type(movies['genres'][0]))
print("I am production_companies: ", type(movies['production_companies'][0]))
print("I am release_date: ", type(movies['release_date'][0]))

I am imdb_id:  <class 'str'>
I am original_title:  <class 'str'>
I am cast:  <class 'str'>
I am homepage:  <class 'str'>
I am director:  <class 'str'>
I am tagline:  <class 'str'>
I am keywords:  <class 'str'>
I am overview:  <class 'str'>
I am genres:  <class 'str'>
I am production_companies:  <class 'str'>
I am release_date:  <class 'str'>

#### Initial thoughts on the data so far
---
_Null/Missing Values_

Some colums are missing data. For the genres-based question, the Nulls in the **genres** column will need to be removed.

While looking at null rows, I noticed that a number of columns have 0:
* popularity
* budget
* revenue
* runtime
* budget_adj
* revenue_adj

Most of these would need to be removed from the data (particularly in relation to the second main question of this analysis). However, in the context of the genres-based question, 0 value for popularity is a valid metric given how this is aggregated (definition is located [here](https://developers.themoviedb.org/3/getting-started/popularity))

_Uniques_

For columns like 'id' and 'original_title' I would expect these to be unique all the way through. A closer inspection of these rows is needed to decide on the action.

_Datatypes_

On the face of it, the only real issue is with release_date. For proper interogation, this will need converting from a string to a datetime object.

#### Closer look at the duplications
---

This section will look at the several hundred film title dupes and the single ID duplication.

---

In [8]:
# create an extra column and mark a row as True where a duplicate itle is found
movies['is_duplicate_title'] = movies.duplicated(['original_title'])

In [9]:
# filter anything that is True
movies_dupe_title_filter = movies[movies['is_duplicate_title'] == True]

In [10]:
movies_dupe_title_filter

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj,is_duplicate_title
1133,281778,tt3297792,0.19,0,0,Survivor,Danielle Chuchran|Kevin Sorbo|Rocky Myers|Ruby...,http://www.arrowstormentertainment.com/#!survi...,John Lyde,Alone. Stranded. Deadly,...,93,Science Fiction|Action|Fantasy,Arrowstorm Entertainment,7/22/14,23,4.90,2014,0.00,0.00,True
1194,296626,tt3534842,0.13,0,0,Finders Keepers,Jaime Pressly|Kylie Rogers|Tobin Bell|Patrick ...,NaN,Alexander Yellen,NaN,...,85,Mystery|Thriller|Horror,HFD Productions|Hybrid LLC,10/18/14,33,4.80,2014,0.00,0.00,True
1349,42222,tt0076245,0.40,0,0,Julia,Jane Fonda|Vanessa Redgrave|Jason Robards|Maxi...,NaN,Fred Zinnemann,"Through It All, Friendship Prevailed.",...,117,Drama,Twentieth Century Fox Film Corporation,10/2/77,10,5.00,1977,0.00,0.00,True
1440,7445,tt0765010,1.22,26000000,43318349,Brothers,Tobey Maguire|Jake Gyllenhaal|Natalie Portman|...,NaN,Jim Sheridan,There are two sides to every family.,...,104,Drama|Thriller|War,Lionsgate|Relativity Media|Sighvatsson Films|M...,1/27/09,381,6.70,2009,"26,426,411.29","44,028,788.73",True
1513,62320,tt1014762,0.69,0,0,Home,Glenn Close|Yann Arthus-Bertrand|Jacques Gambl...,http://www.homethemovie.org/,Yann Arthus-Bertrand,A Stunning Visual Portrayal of Earth,...,95,Documentary,Europa Corp.|ElzÃ©vir Films|France 2 (FR2),6/3/09,109,7.80,2009,0.00,0.00,True
1707,79896,tt1336006,0.31,0,0,The Revenant,Chris Wylde|David Anders|Louise Griffiths|Jacy...,http://www.therevenantmovie.com/,D. Kerry Prior,What could be worse than having your best frie...,...,110,Comedy|Horror,Putrefactory Limited|Wanko Toys,8/16/09,30,5.50,2009,0.00,0.00,True
1753,36465,tt0992993,0.25,0,0,Into the Storm,Brendan Gleeson|Iain Glen|James D'Arcy|Janet M...,http://www.hbo.com/movies/into-the-storm/index...,Thaddeus O'Sullivan,NaN,...,100,Drama|History|Foreign,NaN,5/31/09,13,5.80,2009,0.00,0.00,True
1757,21398,tt1220213,0.32,5000000,0,Grace,Jordan Ladd|Samantha Ferris|Gabrielle Rose|Ste...,NaN,Paul Solet,Love. Undying.,...,94,Horror|Thriller,ArieScope Pictures|Dark Eye Entertainment|Leom...,8/14/09,21,4.90,2009,"5,082,002.17",0.00,True
1865,220903,tt1533395,0.10,0,0,Life,David Attenborough|Oprah Winfrey,http://www.bbc.co.uk/programmes/b00lbpcy,Martha Holmes|Simon Blakeney|Stephen Lyle,From the Makers of Planet Earth,...,500,Documentary,British Broadcasting Corporation (BBC),12/14/09,24,7.00,2009,0.00,0.00,True
2036,41505,tt1179069,0.79,22000000,851517,Shelter,Julianne Moore|Jonathan Rhys Meyers|Jeffrey De...,http://www.shelter-movie.jp/index.html,BjÃ¶rn Stein|MÃ¥ns MÃ¥rlind,Evil will rise.,...,112,Horror|Mystery|Thriller,NALA Films|IM Global|Maraci/Edelstein Films|Sh...,3/27/10,112,5.50,2010,"22,000,000.00","851,517.00",True
2090,42194,tt0411951,0.60,30000000,967000,TEKKEN,Jon Foo|Kelly Overton|Cary-Hiroyuki Tagawa|Ian...,NaN,Dwight H. Little,Survival is no game,...,92,Crime|Drama|Action|Thriller|Science Fiction,Namco|Light Song Films,3/20/10,110,5.00,2010,"30,000,000.00","967,000.00",True
2118,33555,tt1522835,0.51,0,0,Sherlock Holmes,Ben Syder|Gareth David-Lloyd|Dominic Keating|W...,NaN,Rachel Goldenberg,The world's greatest detective has finally met...,...,89,Fantasy|Drama|Horror|Action|Thriller,The Asylum,1/26/10,35,5.50,2010,0.00,0.00,True
2227,38568,tt1049402,0.28,30000,617000,Howl,James Franco|Jon Hamm|Mary-Louise Parker|Treat...,http://howlthemovie.com/,Rob Epstein|Jeffrey Friedman,The Obscenity Trial That Started a Revolution....,...,84,Drama,RabbitBandini Productions|Werc Werk Works,8/26/10,45,6.80,2010,"30,000.00","617,000.00",True
2485,26177,tt0207972,0.55,0,0,Annie,Kathy Bates|Victor Garber|Alan Cumming|Audra M...,NaN,Rob Marshall,Disney makes the classical musical more magica...,...,90,Music|Family|Comedy,Walt Disney Television|Storyline Entertainment...,11/7/99,35,5.50,1999,0.00,0.00,True
2489,16716,tt0216621,0.52,0,0,A Christmas Carol,Patrick Stewart|Richard E. Grant|Joel Grey|Ian...,NaN,David Hugh Jones,NaN,...,95,Drama|Fantasy,Turner Network Television (TNT)|Hallmark Enter...,12/5/99,23,6.10,1999,0.00,0.00,True
2513,6522,tt0123964,0.38,80000000,73345029,Life,Eddie Murphy|Martin Lawrence|Obba BabatundÃ©|N...,NaN,Ted Demme,Share it with someone you love.,...,108,Comedy|Crime|Drama,Imagine Entertainment|Universal Pictures,4/16/99,87,6.60,1999,"104,724,227.73","96,012,519.00",True
2562,30923,tt0164993,0.25,21000000,0,Alice in Wonderland,Tina Majorino|Robbie Coltrane|Ben Kingsley|Mir...,NaN,Nick Willing,A Masterpiece of Imagination...,...,150,Fantasy|Family,NBC|Hallmark Entertainment,2/28/99,39,6.30,1999,"27,490,109.78",0.00,True
2571,10047,tt0151137,0.24,60000000,66976317,Joan of Arc,Milla Jovovich|Dustin Hoffman|Faye Dunaway|Joh...,NaN,Luc Besson,NaN,...,148,Adventure|Drama|Action|History|War,Columbia Pictures|Gaumont,10/18/99,209,6.10,1999,"78,543,170.80","87,675,538.42",True
2695,467,tt0242527,0.72,0,0,The Hole,Thora Birch|Desmond Harrington|Keira Knightley...,NaN,Nick Hamm,"Once you get in, you can't get out.",...,102,Crime|Drama|Horror|Thriller,Cowboy Films|Film Council|Granada Film Product...,4/20/01,92,6.20,2001,0.00,0.00,True
2797,11088,tt0252503,0.27,35000000,0,Heist,Gene Hackman|Danny DeVito|Delroy Lindo|Sam Roc...,NaN,David Mamet,It isn't love that makes the world go round.,...,107,Action|Crime|Drama|Thriller,Epsilon Motion Pictures|Franchise Pictures|Ind...,11/9/01,62,6.50,2001,"43,102,084.08",0.00,True
2814,11889,tt0280778,0.22,0,0,Iris,Judi Dench|Jim Broadbent|Kate Winslet|Hugh Bon...,NaN,Richard Eyre,NaN,...,91,Drama|Romance,Miramax Films|BBC Films|Intermedia Films,12/14/01,21,5.70,2001,0.00,0.00,True
2892,88751,tt0373051,2.00,45000000,101702060,Journey to the Center of the Earth,Brendan Fraser|Josh Hutcherson|Anita Briem|Set...,NaN,Eric Brevig,Same Planet. Different World.,...,93,Action|Science Fiction|Adventure|Comedy|Family,New Line Cinema|Walden Media,7/10/08,704,5.70,2008,"45,575,398.52","103,002,487.00",True
2893,8909,tt0493464,1.98,75000000,258270008,Wanted,Angelina Jolie|James McAvoy|Morgan Freeman|Tho...,http://www.wantedmovie.com/,Timur Bekmambetov,Choose your destiny.,...,110,Action|Thriller|Crime,Universal Pictures|Spyglass Entertainment|Baze...,6/12/08,1670,6.30,2008,"75,958,997.54","261,572,412.02",True
3272,7351,tt0903627,0.28,6000000,1300000,Julia,Tilda Swinton|Kate del Castillo|Aidan Gould|Br...,NaN,Erick Zonca,NaN,...,138,Drama,Le Bureau|Jaibol Films,2/9/08,10,7.10,2008,"6,076,719.80","1,316,622.62",True
3500,64586,tt1588398,0.85,10000000,0,Sleeping Beauty,Emily Browning|Rachael Blake|Ewen Leslie|Mirra...,http://sleepingbeautyfilm.com/,Julia Leigh,Awaken to a World of Wonders!,...,102,Drama|Romance,Screen Australia|Screen NSW|Fulcrum Media Fina...,6/10/11,100,5.40,2011,"9,693,980.43",0.00,True
3524,63207,tt1634121,0.76,13000000,0,Intruders,Clive Owen|Carice van Houten|Ella Purnell|Ella...,NaN,Juan Carlos Fresnadillo,The Nightmare is Real.,...,100,Horror|Thriller|Drama,Universal Pictures International (UPI)|Antena ...,9/12/11,83,5.20,2011,"12,602,174.55",0.00,True
3636,9364,tt1181614,0.41,8000000,100915,Wuthering Heights,Kaya Scodelario|James Northcote|Amy Wren|Nicho...,http://www.artificial-eye.com/film.php?cinema=...,Andrea Arnold,Love is a force of nature.,...,129,Drama|Romance,Ecosse Films|Film4 Productions,9/5/11,36,5.60,2011,"7,755,184.34","97,826.80",True
3654,73499,tt1646980,0.38,17000000,3696232,The Double,Stephen Moyer|Topher Grace|Richard Gere|Stana ...,http://www.thedoublemovie.com/,Michael Brandt,NaN,...,98,Drama|Action|Thriller|Crime|Mystery,Industry Entertainment|Imagenation Abu Dhabi F...,10/27/11,133,5.90,2011,"16,479,766.72","3,583,120.07",True
3669,84404,tt1682181,0.36,1100000,0,Bully,David Long,http://www.thebullyproject.com/,Lee Hirsch,It's time to take a stand.,...,92,Drama|Documentary,NaN,4/23/11,31,7.50,2011,"1,066,337.85",0.00,True
3738,54320,tt1541874,0.26,500000,0,Love,Gunner Wright|Wesley Sellick|Corey Richardson|...,http://modlife.com/angelsandairwaves,William Eubank,Have you ever felt alone?...What if you truly ...,...,90,Drama|Science Fiction,Angels & Airwaves,2/2/11,42,5.00,2011,"484,699.02",0.00,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10448,9960,tt0057261,0.50,0,0,Lord of the Flies,James Aubrey|Tom Chapin|Hugh Edwards|Roger Elw...,NaN,Peter Brook,"Evil is inherent in the human mind, whatever i...",...,92,Adventure|Drama|Foreign|Thriller,Two Arts Ltd.,8/13/63,89,6.40,1963,0.00,0.00,True
10454,29056,tt0057449,0.25,0,0,The Raven,Vincent Price|Peter Lorre|Boris Karloff|Hazel ...,NaN,Roger Corman,The Macabre Masterpiece of Terror!,...,86,Comedy|Fantasy|Horror,Alta Vista Productions,1/25/63,20,5.90,1963,0.00,0.00,True
10460,18331,tt0057372,0.20,0,0,The Nutty Professor,Jerry Lewis|Stella Stevens|Del Moore|Med Flory...,NaN,Jerry Lewis,What does he become? What kind of monster?,...,107,Comedy|Romance|Family,Paramount Pictures|Jerry Lewis Enterprises,6/4/63,39,6.70,1963,0.00,0.00,True
10494,9542,tt0091209,0.80,0,5844868,The Hitcher,C. Thomas Howell|Rutger Hauer|Jennifer Jason L...,NaN,Robert Harmon,The terror starts the moment he stops.,...,97,Horror|Action|Thriller,Silver Screen Partners|TriStar Pictures|HBO Pi...,2/21/86,62,6.60,1986,0.00,"11,627,817.87",True
10517,15392,tt0090888,0.50,0,5738952,Crossroads,Ralph Macchio|Joe Seneca|Jami Gertz|Joe Morton...,NaN,Walter Hill,Where second best never gets a second chance.,...,99,Drama|Music|Mystery|Romance,Columbia Pictures,3/14/86,32,6.70,1986,0.00,"11,417,107.90",True
10532,24913,tt0090655,0.39,5000000,0,April Fool's Day,Deborah Foreman|Jay Baker|Pat Barlow|Lloyd Ber...,NaN,Fred Walton,Childish pranks turn into a bloody battle for ...,...,89,Horror|Mystery|Thriller,Paramount Pictures|Hometown Films|YCTM,3/28/86,29,6.10,1986,"9,947,032.05",0.00,True
10551,11415,tt0091223,0.30,3000000,0,House,William Katt|George Wendt|Richard Moll|Kay Len...,NaN,Steve Miner,"Ding dong, Youâ€™re dead.",...,93,Comedy|Horror,New World Pictures,2/28/86,51,5.50,1986,"5,968,219.23",0.00,True
10555,15698,tt0091875,0.28,0,0,Running Scared,Gregory Hines|Billy Crystal|Steven Bauer|Darla...,NaN,Peter Hyams,Two of Chicago's Finest?,...,107,Thriller|Action|Comedy|Crime,David Foster Productions|Turman-Foster Company...,6/27/86,26,6.60,1986,0.00,0.00,True
10593,11886,tt0070608,2.27,15000000,32056467,Robin Hood,Brian Bedford|Phil Harris|Peter Ustinov|Pat Bu...,NaN,Wolfgang Reitherman,Meet Robin Hood and his MERRY MENagerie!,...,83,Animation|Family,Walt Disney Productions,11/8/73,641,6.90,1973,"73,667,393.68","157,434,424.97",True
10614,2926,tt0072281,0.41,0,0,The Three Musketeers,Michael York|Oliver Reed|Richard Chamberlain|F...,NaN,Richard Lester,. . . One for All and All for Fun!,...,105,Action|Adventure|Comedy|Drama,Film Trust S.A.|Alexander Salkind,12/11/73,32,7.00,1973,0.00,0.00,True
10620,15171,tt0070016,0.36,0,0,Charlotte's Web,Debbie Reynolds|Henry Gibson|Danny Bonaduce|Ag...,NaN,Charles A. Nichols|Iwao Takamoto,That humble radiant terrific book is now a hum...,...,94,Animation|Drama|Family,Paramount Pictures|Hanna-Barbera Productions|S...,3/1/73,59,6.30,1973,0.00,0.00,True
10625,22307,tt0070698,0.26,500000,0,Sisters,Margot Kidder|Jennifer Salt|Charles Durning|Wi...,NaN,Brian De Palma,They were joined at birth by the devil and the...,...,93,Horror|Thriller,Pressman-Williams|American International Pictu...,3/27/73,21,7.00,1973,"2,455,579.79",0.00,True
10628,25473,tt0070895,0.42,0,0,Walking Tall,Joe Don Baker|Elizabeth Hartman|Gene Evans|Noa...,NaN,Phil Karlson,Take your best shot... 'cause it'll probably b...,...,125,Action|Crime|Drama,Bing Crosby Productions,2/22/73,12,6.40,1973,0.00,0.00,True
10639,26015,tt0069992,0.14,0,0,Don't Be Afraid of the Dark,Kim Darby|Jim Hutton|William Demarest|Barbara ...,NaN,John Newland,NaN,...,74,TV Movie|Horror,Lorimar Productions,10/10/73,10,5.90,1973,0.00,0.00,True
10642,16307,tt0070917,0.40,0,0,The Wicker Man,Edward Woodward|Christopher Lee|Britt Ekland|D...,NaN,Robin Hardy,Flesh to touch... Flesh to burn! Don't keep th...,...,99,Horror|Thriller|Mystery,British Lion Film Corporation,12/1/73,143,6.70,1973,0.00,0.00,True
10644,29425,tt0069895,0.11,275000,0,The Crazies,Lane Carroll|Will MacMillan|Harold Wayne Jones...,NaN,George A. Romero,All hell is about to break loose.,...,103,Action|Drama|Horror|Thriller,Pittsburgh Films,3/16/73,21,6.00,1973,"1,350,568.88",0.00,True
10678,132,tt0065780,0.29,0,0,Gimme Shelter,Mick Jagger|Keith Richards|Charlie Watts|Bill ...,NaN,Albert Maysles|Charlotte Zwerin|David Maysles,Landmark film follows the Rolling Stones on th...,...,91,Documentary|Music,Maysles Films,12/6/70,21,7.60,1970,0.00,0.00,True
10686,51992,tt0065398,0.08,0,0,And Soon the Darkness,Pamela Franklin|Michele Dotrice|Sandor ElÃ¨s|J...,NaN,Robert Fuest,Remember the way Hitchcock kept you on the edg...,...,99,Mystery|Thriller,EMI Films Ltd.,9/10/70,10,7.50,1970,0.00,0.00,True
10691,907,tt0059113,1.28,14000000,111721910,Doctor Zhivago,Omar Sharif|Julie Christie|Geraldine Chaplin|R...,NaN,David Lean,Turbulent were the times and fiery was the lov...,...,197,Drama|Romance|War,Metro-Goldwyn-Mayer (MGM),12/22/65,126,6.90,1965,"96,887,891.71","773,178,594.14",True
10740,17529,tt0065126,0.31,0,14250000,True Grit,John Wayne|Kim Darby|Jeremy Slate|Dennis Hoppe...,NaN,Henry Hathaway,The strangest trio ever to track a killer,...,128,Drama|Western|Adventure,Paramount Pictures,6/11/69,98,7.00,1969,0.00,"84,705,764.87",True
10757,923,tt0077402,1.21,650000,55000000,Dawn of the Dead,David Emge|Ken Foree|Scott H. Reiniger|Gaylen ...,NaN,George A. Romero,"When there's no more room in hell, the dead wi...",...,127,Horror,Laurel Group|Dawn Associates,9/2/78,306,7.20,1978,"2,172,755.45","183,848,538.22",True
10759,948,tt0077651,1.20,300000,70000000,Halloween,Donald Pleasence|Jamie Lee Curtis|P.J. Soles|N...,http://www.theofficialjohncarpenter.com/hallow...,John Carpenter,The Night HE Came Home!,...,91,Horror|Thriller,Compass International Pictures|Falcon Internat...,10/25/78,522,7.30,1978,"1,002,810.21","233,989,048.64",True
10767,13333,tt0077594,0.58,0,0,Game of Death,Bruce Lee|Kareem Abdul-Jabbar|Chuck Norris|Col...,NaN,Robert Clouse,Bruce Lee challenges the underworld to a Game ...,...,103,Drama|Action|Thriller|Crime,Golden Harvest Company|Concord Productions Inc.,3/22/78,50,6.40,1978,0.00,0.00,True
10795,148980,tt0077215,0.21,3000000,0,Battlestar Galactica,Richard Hatch|Dirk Benedict|Lorne Greene|Herb ...,NaN,Richard A. Colla|Alan J. Levi,A billion light years from Earth the human rac...,...,125,Science Fiction|Adventure,Universal TV|Glen A. Larson Productions,9/16/78,22,5.80,1978,"10,028,102.08",0.00,True
10799,17212,tt0078067,0.18,0,0,Patrick,Susan Penhaligon|Robert Helpmann|Rod Mullinar|...,NaN,Richard Franklin,"He's in a coma... Yet, he can kill...",...,112,Horror|Science Fiction|Thriller,Filmways Australasian|Australian International...,10/1/78,10,6.00,1978,0.00,0.00,True
10818,39995,tt0079482,0.05,0,0,Long Weekend,John Hargreaves|Briony Behets|Mike McEwen|Roy ...,NaN,Colin Eggleston,Their crime was against nature. Nature found t...,...,92,Horror|Thriller|Mystery,The Australian Film Commission|Victorian Film|...,10/14/78,17,6.10,1978,0.00,0.00,True
10827,2661,tt0060153,0.41,1377800,0,Batman,Adam West|Burt Ward|Cesar Romero|Burgess Mered...,NaN,Leslie H. Martinson,He's Here Big As Life In A Real Bat-Epic,...,105,Family|Adventure|Comedy|Science Fiction|Crime,Twentieth Century Fox Film Corporation|DC Comi...,7/30/66,99,5.90,1966,"9,256,080.64",0.00,True
10849,28270,tt0060445,0.21,0,0,Gambit,Michael Caine|Shirley MacLaine|Herbert Lom|Joh...,NaN,Ronald Neame,Shirley MacLaine raises Michael Caine!,...,109,Action|Comedy|Crime,Universal Pictures,12/16/66,14,6.10,1966,0.00,0.00,True
10853,15598,tt0060086,0.16,0,0,Alfie,Michael Caine|Shelley Winters|Millicent Martin...,NaN,Lewis Gilbert,Is any man an Alfie? Ask any girl!,...,114,Comedy|Drama|Romance,NaN,3/29/66,26,6.20,1966,0.00,0.00,True
10854,31602,tt0060232,0.15,0,0,The Chase,Marlon Brando|Jane Fonda|Robert Redford|E.G. M...,NaN,Arthur Penn,The chase is on!,...,135,Thriller|Drama|Crime,Horizon Pictures|Columbia Pictures Corporation,2/17/66,17,6.00,1966,0.00,0.00,True

In [11]:
# use this cell to spot check titles for differences
movies_title_check = movies[movies['original_title'] == 'Robin Hood']
movies_title_check.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj,is_duplicate_title
1938,20662,tt0955308,2.12,200000000,310669540,Robin Hood,Russell Crowe|Cate Blanchett|Mark Strong|Oscar...,http://www.robinhoodthemovie.com/,Ridley Scott,"Rise and rise again, until lambs become lions.",...,140,Action,Imagine Entertainment|Universal Pictures|Scott...,5/12/10,844,6.10,2010,"200,000,000.00","310,669,540.00",False
10593,11886,tt0070608,2.27,15000000,32056467,Robin Hood,Brian Bedford|Phil Harris|Peter Ustinov|Pat Bu...,NaN,Wolfgang Reitherman,Meet Robin Hood and his MERRY MENagerie!,...,83,Animation|Family,Walt Disney Productions,11/8/73,641,6.90,1973,"73,667,393.68","157,434,424.97",True

---
Upon inspection, it seems that duplicate film titles can be considered different films that have the same name.

The same process is applied for the duplicate ID. Since there is only one duplicate ID, there is no need to create a csv.

---

In [12]:
movies['is_duplicate_id'] = movies.duplicated(['id'])

In [13]:
movies_dupe_id_filter = movies[movies['is_duplicate_id'] == True]

In [14]:
movies_dupe_id_filter.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj,is_duplicate_title,is_duplicate_id
2090,42194,tt0411951,0.60,30000000,967000,TEKKEN,Jon Foo|Kelly Overton|Cary-Hiroyuki Tagawa|Ian...,NaN,Dwight H. Little,Survival is no game,...,Crime|Drama|Action|Thriller|Science Fiction,Namco|Light Song Films,3/20/10,110,5.00,2010,"30,000,000.00","967,000.00",True,True

---
Now that I have the duplicate ID (and given that the original_title duplicates appear to be different films with the same title), this is a final sense check to make sure the entire row is a duplicate:

---

In [15]:
movies_id_check_dupe = movies[movies['id'] == 42194]
movies_id_check_dupe.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj,is_duplicate_title,is_duplicate_id
2089,42194,tt0411951,0.60,30000000,967000,TEKKEN,Jon Foo|Kelly Overton|Cary-Hiroyuki Tagawa|Ian...,NaN,Dwight H. Little,Survival is no game,...,Crime|Drama|Action|Thriller|Science Fiction,Namco|Light Song Films,3/20/10,110,5.00,2010,"30,000,000.00","967,000.00",False,False
2090,42194,tt0411951,0.60,30000000,967000,TEKKEN,Jon Foo|Kelly Overton|Cary-Hiroyuki Tagawa|Ian...,NaN,Dwight H. Little,Survival is no game,...,Crime|Drama|Action|Thriller|Science Fiction,Namco|Light Song Films,3/20/10,110,5.00,2010,"30,000,000.00","967,000.00",True,True

---
Drop the duplicated ID row from the main dataframe:

---

In [16]:
movies.drop_duplicates(subset=['id'],inplace=True)

### Data Cleaning (Replace this with more specific notes!)

In [17]:
# After discussing the structure of the data and any problems that need to be
#   cleaned, perform those cleaning steps in the second part of this section.

#### Drop columns:
---
In this section, I've decided to drop columns that are extraneous to both questions in the analysis: 
* **imdb_id**: this appears to relate to the previous IMDB data. Assumption is that this was left in by Kaggle to map the IMDB and TMDB ids together
* **budget** and **revenue**: since budget_adj and revenue_adj have already been normalised to 2010 levels for more direct comparision, these two columns are no longer required
* **homepage**, **tagline**, **overview** and **keywords**: seem unnecessary to include this for the type of intended analysis
* **is_duplicate_title**: is no longer necessary
* **is_duplicate_id**: is no longer necessary

---

In [18]:
movies.drop(['imdb_id', 'budget', 'revenue', 'homepage', 'tagline', 'overview', 'keywords', 'is_duplicate_title', 'is_duplicate_id'], axis=1, inplace=True)

In [19]:
movies.head(1)

,id,popularity,original_title,cast,director,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,32.99,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.50,2015,"137,999,939.28","1,392,445,892.52"

#### Update the datatypes
---

This section will look to change the **release_date** from a string to a datetime object.

---

In [20]:
movies['release_date'] = pd.to_datetime(movies['release_date'])

In [21]:
# check it's worked
type(movies['release_date'][0])

pandas._libs.tslib.Timestamp

#### Deal with null values
---

_This section will look to drop rows with null values._ For **runtime**, **budget_adj** and **revenue_adj**, 0 values are also considered null.

For the first 'Genres' based question in the introduction, I will look create a dataframe that cleans out null genres, and drops extraneous columns. This should return me the most number of intact rows suitable for that exploration.

For the question that looks at the types of properties associcated with high revenue movies, I will wish to keep some of the dropped columns for that analysis - therefore, I will use a separate dataframe. and then clean out the 0 values for budget_adj and revenue_adj.

---

In [26]:
# df_genres_test = df_genres[df_genres.release_year != 2015]
# use this later for dropping specific 0 values from budget_adj

<a id='eda'></a>
## Exploratory Data Analysis

> **Tip**: Now that you've trimmed and cleaned your data, you're ready to move on to exploration. Compute statistics and create visualizations with the goal of addressing the research questions that you posed in the Introduction section. It is recommended that you be systematic with your approach. Look at one variable at a time, and then follow it up by looking at relationships between variables.

### Research Question 1: Which genres are most popular from year to year?

---
In this section we will look to address the question: "Which genres are the most popular from year to year?". To approach this, we need to set some definitions:

* **Popularity**: TMDB have an aggregated metric, *popularity*, which combines a number of aspects as defined [here](https://developers.themoviedb.org/3/getting-started/popularity), in their API documentation.
* **Most popular**: at what point do we consider a genre to be a threshold to be termed most popular?

---

In [27]:
# prepare dataframe for question 1
movie_genres = movies.copy()
movie_genres.drop(['original_title', 'cast', 'director', 'runtime', 'release_date', 'production_companies', 'vote_count', 'vote_average','budget_adj', 'revenue_adj'], axis=1, inplace=True)
movie_genres.head(1)

,id,popularity,original_title,genres,release_year
0,135397,32.99,Jurassic World,Action|Adventure|Science Fiction|Thriller,2015

In [28]:
# drop NaN values - only targets genres at this stage
movie_genres.dropna(axis=0, how='any', inplace=True)

---
The some of the rows in the **genres** column hold a number of individual values. To begin using the information in this column effectively, I need to:

* know how many unique genres labels there are; and
* split these genres out into such a way that they can be considerded individually

---

In [29]:
# grab the id and genres column
genre = movie_genres.loc[:, ['id', 'genres']]
genre.head(5)

       id                                     genres
0  135397  Action|Adventure|Science Fiction|Thriller
1   76341  Action|Adventure|Science Fiction|Thriller
2  262500         Adventure|Science Fiction|Thriller
3  140607   Action|Adventure|Science Fiction|Fantasy
4  168259                      Action|Crime|Thriller

In [30]:
# split the genres cells by the pipe and add to a list
genre_list = genre['genres'].str.split('|').tolist()
genre_list[:5]

[['Action', 'Adventure', 'Science Fiction', 'Thriller'],
 ['Action', 'Adventure', 'Science Fiction', 'Thriller'],
 ['Adventure', 'Science Fiction', 'Thriller'],
 ['Action', 'Adventure', 'Science Fiction', 'Fantasy'],
 ['Action', 'Crime', 'Thriller']]

In [31]:
# loop through each iterable (a nested list) in genre_list
# check that each element is indeed a list
# convert to list if not

for i in range(len(genre_list)):
    if not isinstance(genre_list[i], list):
        genre_list[i] = [genre_list[i]]

        
# an error occured when cell below was first run, hence loop

In [32]:
"""
Create a new dataframe using genre_list and the id column 
of the 'genre' dataframe as the index. As this will result in
multiple columns with an individual genre value per id, we need
to apply .stack() to pivot the data:
https://pandas.pydata.org/pandas-docs/stable/reshaping.html
"""
stacked_genre = pd.DataFrame(genre_list, index=genre['id']).stack()

In [33]:
print(stacked_genre.head())

id
135397  0             Action
        1          Adventure
        2    Science Fiction
        3           Thriller
76341   0             Action
dtype: object

In [34]:
# needs comment
stacked_genre = stacked_genre.reset_index()

In [35]:
print(stacked_genre.head())

       id  level_1                0
0  135397        0           Action
1  135397        1        Adventure
2  135397        2  Science Fiction
3  135397        3         Thriller
4   76341        0           Action

In [36]:
stacked_genre = stacked_genre.loc[:, ['id', 0]]

In [37]:
print(stacked_genre.head())

       id                0
0  135397           Action
1  135397        Adventure
2  135397  Science Fiction
3  135397         Thriller
4   76341           Action

In [38]:
stacked_genre.columns = ['id', 'genre']

In [39]:
print(stacked_genre.head())

       id            genre
0  135397           Action
1  135397        Adventure
2  135397  Science Fiction
3  135397         Thriller
4   76341           Action

In [42]:
merged = pd.merge(movie_genres, stacked_genre, on='id', how='left')
merged.drop(['genres'], axis=1, inplace=True)

In [43]:
merged.head()

,id,popularity,original_title,release_year,genre
0,135397,32.99,Jurassic World,2015,Action
1,135397,32.99,Jurassic World,2015,Adventure
2,135397,32.99,Jurassic World,2015,Science Fiction
3,135397,32.99,Jurassic World,2015,Thriller
4,76341,28.42,Mad Max: Fury Road,2015,Action

In [46]:
merged.groupby('genre').count().sort_values(by=['id'], ascending=False)

                   id  popularity  original_title  release_year
genre
Drama            4760        4760            4760          4760
Comedy           3793        3793            3793          3793
Thriller         2907        2907            2907          2907
Action           2384        2384            2384          2384
Romance          1712        1712            1712          1712
Horror           1637        1637            1637          1637
Adventure        1471        1471            1471          1471
Crime            1354        1354            1354          1354
Family           1231        1231            1231          1231
Science Fiction  1229        1229            1229          1229
Fantasy           916         916             916           916
Mystery           810         810             810           810
Animation         699         699             699           699
Documentary       520         520             520           520
Music             408         408             408           408
History           334         334             334           334
War               270         270             270           270
Foreign           188         188             188           188
TV Movie          167         167             167           167
Western           165         165             165           165

### Research Question 2  (Replace this header name!)

In [ ]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed. Make sure that you are clear with regards to the limitations of your exploration. If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work, you should save a copy of the report in HTML or PDF form via the **File** > **Download as** submenu. Before exporting your report, check over it to make sure that the flow of the report is complete. You should probably remove all of the "Tip" quotes like this one so that the presentation is as tidy as possible. Congratulations!